<template>
    <!--  <div>
        <div class="mb-4">
          <Link class="group flex items-center py-3" href="/about/">
            <div :class="isUrl('') ? 'text-white' : 'text-indigo-300 group-hover:text-white'">Über Mich</div>
          </Link>
        </div>
        <div class="mb-4">
          <Link class="group flex items-center py-3" href="/education">
              <div :class="isUrl('education') ? 'text-white' : 'text-indigo-300 group-hover:text-white'">Education</div>
          </Link>
        </div>

        <div class="mb-4">
          <Link class="group flex items-center py-3" href="/projects">
            <div :class="isUrl('projects') ? 'text-white' : 'text-indigo-300 group-hover:text-white'">Projects</div>
          </Link>
        </div>
        <div class="mb-4">
          <Link class="group flex items-center py-3" href="/contact">
            <div :class="isUrl('contact') ? 'text-white' : 'text-indigo-300 group-hover:text-white'">Contact</div>
          </Link>
        </div>
      </div>-->
    <!-- ====== Navbar Section Start -->
    <header class="absolute top-0 left-0 z-50 w-full">
        <div class="container">
            <div class="relative -mx-4 flex items-center justify-center">
                <div class="w-60 max-w-full px-4">
                    <a class="block w-full py-5 " href="/#">
                        <img
                            alt="logo"
                            class="dark:hidden"
                            src="https://cdn.tailgrids.com/2.0/image/assets/images/logo/logo-primary.svg"
                        />
                        <img
                            alt="logo"
                            class="hidden dark:block"
                            src="https://cdn.tailgrids.com/2.0/image/assets/images/logo/logo-white.svg"
                        />
                    </a>
                </div>
                <div class="flex w-full items-center justify-end px-4">
                    <div>
                        <button
                            id="navbarToggler"
                            ref="dropdownButtonRef"
                            class="absolute right-4 top-1/2 block -translate-y-1/2 rounded-lg px-3 py-[6px] ring-primary focus:ring-2 lg:hidden"
                            @click="toggleNavbar"
                        >
              <span
                  class="relative my-[6px] block h-[2px] w-[30px] bg-body-color dark:bg-white"
              ></span>
                            <span
                                class="relative my-[6px] block h-[2px] w-[30px] bg-body-color dark:bg-white"
                            ></span>
                            <span
                                class="relative my-[6px] block h-[2px] w-[30px] bg-body-color dark:bg-white"
                            ></span>
                        </button>
                        <nav
                            id="navbarCollapse"
                            :class="{ hidden: !open }"
                            class="absolute right-4 top-full w-full max-w-[250px] rounded-lg bg-white dark:bg-dark-2 py-5 px-6 shadow transition-all lg:static lg:bg-transparent lg:block lg:w-full lg:max-w-full lg:shadow-none xl:ml-11 lg:dark:bg-transparent"
                        >
                            <ul class="block lg:flex">
                                <template v-for="(item, index) in navLinkItems" :key="index">
                                    <li>
                                        <a
                                            v-if="item.href"
                                            :href="item.href"
                                            class="flex py-2 text-base font-medium text-dark dark:text-white hover:text-primary lg:ml-10 lg:inline-flex"
                                        >
                                            {{ item.text }}
                                        </a>
                                    </li>
                                </template>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- ====== Navbar Section End -->
</template>

<script setup>
import {onMounted, onUnmounted, ref} from 'vue'

const open = ref(false)
const dropdownButtonRef = ref < HTMLButtonElement | null

const toggleNavbar = () => {
    open.value = !open.value
}

const navLinkItems = ref([
    {text: 'Home', href: 'javascript:void(0)'},
    {text: 'Contact', href: 'javascript:void(0)'},
    {text: 'About', href: 'javascript:void(0)'},
    {text: 'Education', href: 'javascript:void(0)'}
])


// Custom composition function to handle click outside
const handleClickOutside = () => {
    if (open.value && dropdownButtonRef.valueOf()) {
        if (!dropdownButtonRef.valueOf().contains(event.target)) {
            open.value = false
        }
    }
}

onMounted(() => {
    document.addEventListener('click', handleClickOutside)
})

onUnmounted(() => {
    document.removeEventListener('click', handleClickOutside)
})


const isUrl = (...urls) => {
    let currentUrl = window.location.pathname.substr(1)
    if (urls[0] === '') {
        return currentUrl === ''
    }
    return urls.filter((url) => currentUrl.startsWith(url)).length
}

</script>
