<template>
  <div>
    <Head title="Create Skill" />
    <h1 class="mb-8 text-3xl font-bold">
      <Link class="text-indigo-400 hover:text-indigo-600" href="/admin/skills">Skills</Link>
      <span class="text-indigo-400 font-medium">/</span> Create
    </h1>
    <div class="max-w-3xl bg-white rounded-md shadow overflow-hidden">
      <form @submit.prevent="store">
        <div class="flex flex-wrap -mb-8 -mr-6 p-8">
          <text-input v-model="form.name" :error="form.errors.name" class="pb-8 pr-6 w-full lg:w-1/2" label="Name" />
          <text-input v-model="form.experiance" :error="form.errors.experiance" class="pb-8 pr-6 w-full lg:w-1/2" label="Experiance" />
          <text-input v-model="form.level" :error="form.errors.level" class="pb-8 pr-6 w-full lg:w-1/2" label="Level" />
            <select-input v-model="form.user_id" :error="form.errors.user_id" class="pb-8 pr-6 w-full lg:w-1/2" label="Developeur">
                <option v-for="user in users" :key="user.id" :value="user.id">{{ user.name }}</option>
            </select-input>
        </div>
        <div class="flex items-center justify-end px-8 py-4 bg-gray-50 border-t border-gray-100">
          <loading-button :loading="form.processing" class="btn-indigo" type="submit">Create Skill</loading-button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import { Head, Link } from '@inertiajs/vue3'
import Layout from '@/Shared/Layout.vue'
import TextInput from '@/Shared/TextInput.vue'
import SelectInput from '@/Shared/SelectInput.vue'
import LoadingButton from '@/Shared/LoadingButton.vue'
import FileInput from "@/Shared/FileInput.vue";

export default {
  components: {
      FileInput,
    Head,
    Link,
    LoadingButton,
    SelectInput,
    TextInput,
  },
  layout: Layout,
  props: {
    skills: Array,
      users: Array,
  },
  remember: 'form',
  data() {
    return {
      form: this.$inertia.form({
        name: '',
        experiance: '',
        user_id: null,
        level: '',
      }),
    }
  },
  methods: {
    store() {
      this.form.post('/admin/skills', {
        onSuccess: () => this.$inertia.visit('/admin/skills'),
      })
    },
  },
}
</script>
