<template>
  <div>
    <Head :title="`${form.name}`" />
    <h1 class="mb-8 text-3xl font-bold">
      <Link class="text-indigo-400 hover:text-indigo-600" href="/admin/skills">Skills</Link>
      <span class="text-indigo-400 font-medium">/</span>
      {{ form.name }}
    </h1>
    <trashed-message v-if="skill.deleted_at" class="mb-6" @restore="restore"> This Skill has been deleted. </trashed-message>
    <div class="max-w-3xl bg-white rounded-md shadow overflow-hidden">
      <form @submit.prevent="update">
        <div class="flex flex-wrap -mb-8 -mr-6 p-8">
          <text-input v-model="form.name" :error="form.errors.name" class="pb-8 pr-6 w-full lg:w-1/2" label="Name" />
          <text-input v-model="form.experiance" :error="form.errors.experiance" class="pb-8 pr-6 w-full lg:w-1/2" label="Experiance" />
          <text-input v-model="form.level" :error="form.errors.level" class="pb-8 pr-6 w-full lg:w-1/2" label="Experiance" />
          <select-input v-model="form.user_id" :error="form.errors.user_id" class="pb-8 pr-6 w-full lg:w-1/2" label="Users">
            <option v-for="user in users" :key="user.id" :value="user.id">{{ user.name }}</option>
          </select-input>
        </div>
        <div class="flex items-center px-8 py-4 bg-gray-50 border-t border-gray-100">
          <button v-if="!skill.deleted_at" class="text-red-600 hover:underline" tabindex="-1" type="button" @click="destroy">Delete Skills</button>
          <loading-button :loading="form.processing" class="btn-indigo ml-auto" type="submit">Update Skill</loading-button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import { Head, Link } from '@inertiajs/vue3'
import Layout from '@/Shared/Layout.vue'
import TextInput from '@/Shared/TextInput.vue'
import SelectInput from '@/Shared/SelectInput.vue'
import LoadingButton from '@/Shared/LoadingButton.vue'
import TrashedMessage from '@/Shared/TrashedMessage.vue'

export default {
  components: {
    Head,
    Link,
    LoadingButton,
    SelectInput,
    TextInput,
    TrashedMessage,
  },
  layout: Layout,
  props: {
    skill: Object,
    users: Array,
  },
  remember: 'form',
  data() {
    return {
      form: this.$inertia.form({
        name: this.skill.name,
        experiance: this.skill.experiance,
        user_id: this.skill.user_id,
        level: this.skill.level,
          users: this.users,
      }),
    }
  },
  methods: {
    update() {
      this.form.put(`/admin/skills/${this.skill.id}`)
    },
    destroy() {
      if (confirm('Are you sure you want to delete this skill?')) {
        this.$inertia.delete(`/admin/skills/${this.skill.id}`)
      }
    },
    restore() {
      if (confirm('Are you sure you want to restore this Skill?')) {
        this.$inertia.put(`/admin/skills/${this.skill.id}/restore`)
      }
    },
  },
}
</script>
