<template>
    <div>
        <Head :title="`${form.name}`" />
        <div class="flex justify-start mb-8 max-w-3xl">
            <h1 class="text-3xl font-bold">
                <Link class="text-indigo-400 hover:text-indigo-600" href="/admin/repositories">GitRepositories</Link>
                <span class="text-indigo-400 font-medium">/</span>
                {{ form.name }}
            </h1>
        </div>
        <trashed-message v-if="repositories.deleted_at" class="mb-6" @restore="restore"> This GitRepositories has been deleted. </trashed-message>
        <div class="max-w-3xl bg-white rounded-md shadow overflow-hidden">
            <form @submit.prevent="update">
                <div class="flex flex-wrap -mb-8 -mr-6 p-8">
                    <text-input v-model="form.link" :error="form.errors.link" class="pb-8 pr-6 w-full lg:w-1/2" label="Link" />
                    <select-input v-model="form.user_id" :error="form.errors.user_id" class="pb-8 pr-6 w-full lg:w-1/2" label="Users">
                        <option v-for="user in users" :key="user.id"  :value="user.id">{{user.name}}</option>
                    </select-input>
                    <select-input v-model="form.project_id" :error="form.errors.project_id" class="pb-8 pr-6 w-full lg:w-1/2" label="Projects">
                        <option v-for="project in projects" :key="project.id"  :value="project.id">{{project.name}}</option>
                    </select-input>
                </div>
                <div class="flex items-center  px-8 py-4 bg-gray-50 border-t border-gray-100">
                    <button v-if="!repositories.deleted_at" class="text-red-600 hover:underline" tabindex="-1" type="button" @click="destroy">Delete GitRepositories</button>
                    <loading-button :loading="form.processing" class="btn-indigo ml-auto" type="submit">Updated GitRepositories</loading-button>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
import { Head, Link } from '@inertiajs/vue3'
import Layout from '@/Shared/Layout.vue'
import TextInput from '@/Shared/TextInput.vue'
import FileInput from '@/Shared/FileInput.vue'
import SelectInput from '@/Shared/SelectInput.vue'
import LoadingButton from '@/Shared/LoadingButton.vue'
import TrashedMessage from '@/Shared/TrashedMessage.vue'

export default {
    components: {
        FileInput,
        Head,
        Link,
        LoadingButton,
        SelectInput,
        TextInput,
        TrashedMessage,
    },
    layout: Layout,
    props: {
        repositories: Object,
        users: Object,
        projects: Object,

    },
    remember: 'form',
    data() {
        return {
            form: this.$inertia.form({
                _method: 'put',
                name: this.repositories.name,
                link: this.repositories.link,
                user_id: this.repositories.user_id,
                project_id: this.repositories.project_id,

            }),
        }
    },
    methods: {
        update() {
            this.form.post(`/admin/repositories/${this.repositories.id}`, {
            })
        },
        destroy() {
            if (confirm('Are you sure you want to delete this GitRepositories?')) {
                this.$inertia.delete(`/admin/repositories/${this.repositories.id}`)
            }
        },
        restore() {
            if (confirm('Are you sure you want to restore this GitRepositories?')) {
                this.$inertia.put(`/admin/repositories/${this.repositories.id}/restore`)
            }
        },
    },
}
</script>
