<template>
  <div>
    <Head title="Create Project" />
    <h1 class="mb-8 text-3xl font-bold">
      <Link class="text-indigo-400 hover:text-indigo-600" href="/admin/projects">Projects</Link>
      <span class="text-indigo-400 font-medium">/</span> Create
    </h1>
    <div class="max-w-3xl bg-white rounded-md shadow overflow-hidden">
      <form @submit.prevent="store">
        <div class="flex flex-wrap -mb-8 -mr-6 p-8">
          <text-input v-model="form.name" :error="form.errors.name" class="pb-8 pr-6 w-full lg:w-1/2" label="Name" />
          <text-input v-model="form.description" :error="form.errors.description" class="pb-8 pr-6 w-full lg:w-1/2" label="Description" />
          <text-input v-model="form.link" :error="form.errors.link" class="pb-8 pr-6 w-full lg:w-1/2" label="LInk" />
          <select-input v-model="form.user_id" :error="form.errors.user_id" class="pb-8 pr-6 w-full lg:w-1/2" label="Developeur">
            <option :value="users">Users</option>
              <option  v-for="user in users" :key="user.id" :value="user.id">{{ user.name }}</option>
          </select-input>
         <select-input v-model="form.category_id" :error="form.errors.category_id" class="pb-8 pr-6 w-full lg:w-1/2" label="Categories">
            <option :value="Categories">Categories</option>
           <option v-for="category in categories" :key="category.id" :value="category.id">{{ category.name }}</option>
         </select-input>
          <select-input v-model="form.technologies" :error="form.errors.technologies" class="pb-8 pr-6 w-full lg:w-1/2" label="Technologies" multiple>
            <option v-for="technology in technologies" :key="technology.id" :value="technology.id">{{ technology.name }}</option>
            </select-input>
          <file-input v-model="form.image" :error="form.errors.image" class="pb-8 pr-6 w-full lg:w-1/2" type="file" accept="image/*" label="Photo" />
        </div>
        <div class="flex items-center justify-end px-8 py-4 bg-gray-50 border-t border-gray-100">
          <loading-button :loading="form.processing" class="btn-indigo" type="submit">Create Project</loading-button>
        </div>
      </form>
    </div>
  </div>
</template>

<script >
import { Head, Link } from '@inertiajs/vue3'
import Layout from '@/Shared/Layout.vue'
import FileInput from '@/Shared/FileInput.vue'
import TextInput from '@/Shared/TextInput.vue'
import SelectInput from '@/Shared/SelectInput.vue'
import LoadingButton from '@/Shared/LoadingButton.vue'
import VueSelect from "vue3-select-component";
import "vue3-select-component/dist/style.css";

export default {
  components: {
    FileInput,
    Head,
    Link,
    LoadingButton,
    SelectInput,
    TextInput,
      VueSelect,
  },
  layout: Layout,
    props: {
        categories: Array,
        users: Array,
        technologies: Array
    },
  remember: 'form',
  data() {
    return {
      form: this.$inertia.form({
        name: '',
        description: '',
        user_id: '',
        category_id: '',
        link: '',
        image: null,
        technologies: []
      }),
    }
  },
  methods: {
    store() {
      this.form.post('/admin/projects')
    },
  },
}
</script>
