<template>
  <div>
    <Head :title="`${form.name}`" />
    <div class="flex justify-start mb-8 max-w-3xl">
      <h1 class="text-3xl font-bold">
        <Link class="text-indigo-400 hover:text-indigo-600" href="/admin/categories">Categories</Link>
        <span class="text-indigo-400 font-medium">/</span>
        {{ form.name }}
      </h1>
    </div>
    <trashed-message v-if="categories.deleted_at" class="mb-6" @restore="restore"> This Categories has been deleted. </trashed-message>
    <div class="max-w-3xl bg-white rounded-md shadow overflow-hidden">
        <form @submit.prevent="update">
            <div class="flex flex-wrap -mb-8 -mr-6 p-8">
                <text-input v-model="form.name" :error="form.errors.name" class="pb-8 pr-6 w-full lg:w-1/2" label="Name" />
                <select-input v-model="form.type" :error="form.errors.type" class="pb-8 pr-6 w-full lg:w-1/2" label="Type">
                    <option :value="form.type">{{form.type}}</option>
                </select-input>
            </div>
            <div class="flex items-center  px-8 py-4 bg-gray-50 border-t border-gray-100">
                <button v-if="!categories.deleted_at" class="text-red-600 hover:underline" tabindex="-1" type="button" @click="destroy">Delete Categories</button>
                <loading-button :loading="form.processing" class="btn-indigo ml-auto" type="submit">Updated Categories</loading-button>
            </div>
        </form>
    </div>
  </div>
</template>

<script>
import { Head, Link } from '@inertiajs/vue3'
import Layout from '@/Shared/Layout.vue'
import TextInput from '@/Shared/TextInput.vue'
import FileInput from '@/Shared/FileInput.vue'
import SelectInput from '@/Shared/SelectInput.vue'
import LoadingButton from '@/Shared/LoadingButton.vue'
import TrashedMessage from '@/Shared/TrashedMessage.vue'

export default {
  components: {
    FileInput,
    Head,
    Link,
    LoadingButton,
    SelectInput,
    TextInput,
    TrashedMessage,
  },
  layout: Layout,
  props: {
      categories: Object,

  },
  remember: 'form',
  data() {
    return {
      form: this.$inertia.form({
        _method: 'put',
        name: this.categories.name,
        type: this.categories.type,

      }),
    }
  },
  methods: {
    update() {
      this.form.post(`/admin/categories/${this.categories.id}`, {
      })
    },
    destroy() {
      if (confirm('Are you sure you want to delete this Categories?')) {
        this.$inertia.delete(`/admin/categories/${this.categories.id}`)
      }
    },
    restore() {
      if (confirm('Are you sure you want to restore this Categories?')) {
        this.$inertia.put(`/admin/categories/${this.categories.id}/restore`)
      }
    },
  },
}
</script>
