<template>
  <div>
    <Head title="Projects" />
    <h1 class="mb-8 text-3xl font-bold">Project</h1>
      <div class="flex items-center justify-between mb-6">
          <search-filter v-model="form.search" class="mr-4 w-full max-w-md" @reset="reset">
              <label class="block text-gray-700">Role:</label>
              <select v-model="form.role" class="form-select mt-1 w-full">
                  <option :value="null" />
                  <option value="user">User</option>
                  <option value="owner">Owner</option>
              </select>
              <label class="block mt-4 text-gray-700">Trashed:</label>
              <select v-model="form.trashed" class="form-select mt-1 w-full">
                  <option :value="null" />
                  <option value="with">With Trashed</option>
                  <option value="only">Only Trashed</option>
              </select>
          </search-filter>
          <Link class="btn-indigo" href="/admin/projects/create">
              <span>Create</span>
              <span class="hidden md:inline">&nbsp;Projects</span>
          </Link>
      </div>
      <div class="bg-white rounded-md shadow overflow-x-auto">
          <table class="w-full whitespace-nowrap">
              <tr class="text-left font-bold">
                  <th class="pb-4 pt-6 px-6">Name</th>
                  <th class="pb-4 pt-6 px-6">Description</th>
                  <th class="pb-4 pt-6 px-6">Link</th>
                  <th class="pb-4 pt-6 px-6">User</th>
                  <th class="pb-4 pt-6 px-6" >Categorie</th>
              </tr>
              <tr v-for="project in projects" :key="project.id" class="hover:bg-gray-100 focus-within:bg-gray-100">
                  <td class="border-t">
                      <Link class="flex items-center px-6 py-4 focus:text-indigo-500" :href="`/admin/projects/${project.id}/edit`">
                          <img v-if="project.image" class="block -my-2 mr-2 w-5 h-5 rounded-full" :src="project.image" />
                          {{ project.name }}
                          <icon v-if="project.deleted_at" name="trash" class="shrink-0 ml-2 w-3 h-3 fill-gray-400" />
                      </Link>
                  </td>
                  <td class="border-t">
                      <Link class="flex items-center px-6 py-4" :href="`/users/${project.id}/edit`" tabindex="-1">
                          {{ project.description }}
                      </Link>
                  </td>
                  <td class="border-t">
                      <Link class="flex items-center px-6 py-4" :href="`/admin/projects/${project.id}/edit`" tabindex="-1">
                          {{ project.link  }}
                      </Link>
                  </td>

                  <td class="border-t">
                      <Link class="flex items-center px-6 py-4" :href="`/admin/projects/${project.id}/edit`" tabindex="-1">
                          {{ project.user.name }}
                      </Link>
                  </td>

                  <td class="border-t">
                      <Link class="flex items-center px-6 py-4" :href="`/admin/projects/${project.id}/edit`" tabindex="-1">
                          {{ project.category.name  }}
                      </Link>
                  </td>
                  <td class="w-px border-t">
                      <Link class="flex items-center px-4" :href="`/admin/projects/${project.id}/edit`" tabindex="-1">
                          <icon name="cheveron-right" class="block w-6 h-6 fill-gray-400" />
                      </Link>
                  </td>
              </tr>
              <tr v-if="projects.length === 0">
                  <td class="px-6 py-4 border-t" colspan="4">No users found.</td>
              </tr>
          </table>
      </div>
  </div>
</template>

<script>
import {Head, Link} from '@inertiajs/vue3'
import Layout from '@/Shared/Layout.vue'
import SearchFilter from "@/Shared/SearchFilter.vue";
import Icon from "@/Shared/Icon.vue";
import throttle from "lodash/throttle.js";
import pickBy from "lodash/pickBy.js";
import mapValues from "lodash/mapValues.js";

export default {
  components: {
      Icon,
      Link,
      SearchFilter,
      Head,
  },
  layout: Layout,
    props: {
        filters: Object,
        projects: Array,
    },
    data() {
        return {
            form: {

            },
        }
    },
    watch: {
        form: {
            deep: true,
            handler: throttle(function () {
                this.$inertia.get('/admin/projects', pickBy(this.form), { preserveState: true })
            }, 150),
        },
    },
    methods: {
        reset() {
            this.form = mapValues(this.form, () => null)
        },
    },
}
</script>
