<template>
    <Layout>
         
         <!-- Start About me -->
        <section class="py-16 md:py-24 border-t-2 border-gray/[12%] dark:border-white/[12%]" id="about">
            <div class="container" data-aos="fade-up">
                <div class="grid grid-cols-1">
                    <div>
                        <div class="inline-block">
                            <p class="bg-purple text-white text-sm font-semibold py-3 px-5 uppercase rounded-full flex items-center gap-2.5">
                                <span>
                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M4.33454 9.58362C5.35965 9.83993 6.16007 10.6403 6.41638 11.6655L7.37875 15.5149C7.45002 15.8 7.70616 16 8 16C8.29384 16 8.54998 15.8 8.62125 15.5149L9.58362 11.6655C9.83993 10.6403 10.6403 9.83993 11.6655 9.58362L15.5149 8.62125C15.8 8.54998 16 8.29384 16 8C16 7.70616 15.8 7.45002 15.5149 7.37875L11.6655 6.41638C10.6403 6.16007 9.83993 5.35965 9.58362 4.33454L8.62125 0.485071C8.54998 0.199992 8.29384 0 8 0C7.70616 0 7.45002 0.199991 7.37875 0.485071L6.41638 4.33454C6.16007 5.35965 5.35965 6.16007 4.33454 6.41638L0.485071 7.37875C0.199992 7.45002 0 7.70616 0 8C0 8.29384 0.199991 8.54998 0.485071 8.62125L4.33454 9.58362Z" fill="currentColor" />
                                    </svg>
                                </span>
                                About Me
                            </p>
                        </div>
                        <div class="mt-7">
                            <h2 class="font-semibold text-[26px]/normal">Hi! I'm Mitchell Hancock</h2>
                            <p class="mt-6 text-gray">I'm Passionate and results-driven UI/UX designer with seven years of experience in crafting intuitive and visually appealing user experiences. Skilled in user research, wireframing, prototyping, and usability testing. Strong collaborator and advocate for user-centered design. Seeking new opportunities to create impactful digital products.</p>
                        </div>
                    </div>
                </div>
                <div class="grid grid-cols-1 mt-14">
                    <div class="flex-wrap items-start sm:flex gap-7 space-y-7 sm:space-y-0">
                        <div class="space-y-2.5 font-semibold flex-1">
                            <p class="text-gray whitespace-nowrap">contact</p>
                            <p class="whitespace-nowrap">diarrisso49@gmail.com</p>
                        </div>
                        <div class="space-y-2.5 font-semibold flex-1">
                            <p class="text-gray whitespace-nowrap">Phone</p>
                            <p class="whitespace-nowrap">+49 17675823089</p>
                        </div>
                        <div class="space-y-2.5 font-semibold flex-1">
                            <p class="text-gray whitespace-nowrap">Date of birth</p>
                            <p class="whitespace-nowrap">November 05, 1983</p>
                        </div>
                        <div class="space-y-2.5 font-semibold flex-1">
                            <p class="text-gray whitespace-nowrap">Languages</p>
                            <p class="whitespace-nowrap">English - French - German</p>
                        </div>
                        <div class="space-y-2.5 font-semibold flex-1">
                            <p class="text-gray whitespace-nowrap">Interest</p>
                            <p class="whitespace-nowrap">Music, FootBall, F1, Tennis, Box</p>
                        </div>
                        <div class="space-y-2.5 font-semibold flex-1">
                            <p class="text-gray whitespace-nowrap">Social Media</p>
                            <ul class="flex flex-wrap items-center gap-5">
                                <li class="shrink-0">
                                    <a href="javascript:;">
                                        <img src="@/assets/images/figma.svg" alt="">
                                    </a>
                                </li>
                                <li class="shrink-0">
                                    <a href="javascript:;">
                                        <img src="@/assets/images/dribbble.svg" alt="">
                                    </a>
                                </li>
                                <li class="shrink-0">
                                    <a href="javascript:;">
                                        <img src="@/assets/images/discord.svg" alt="">
                                    </a>
                                </li>
                                <li class="shrink-0">
                                    <a href="javascript:;">
                                        <img src="@/assets/images/twitter.svg" alt="">
                                    </a>
                                </li>
                                <li class="shrink-0">
                                    <a href="javascript:;">
                                        <img src="@/assets/images/linkedIn.svg" alt="">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End About me -->
    </Layout>
</template>



<script>
import Layout from "@/Layout/Index.vue";
import { CountTo } from "vue3-count-to";
export default {
    name: "INDEX",
    components: {
        Layout , CountTo
    },
    mounted() {
        document.documentElement.setAttribute("dir", "ltr")
        document.documentElement.classList.add("scroll-smooth")
    }
}
</script>