<template>
     <!-- service section -->
      <!-- Start Services -->
            <section class="py-16 md:py-24 bg-dark text-white dark:bg-gradient-liner dark:from-white/[4%] dark:to-transparent" id="services">
                <div class="container">
                    <div class="grid grid-cols-1" data-aos="fade-up">
                        <div class="text-center">
                            <div class="inline-block">
                                <p class="bg-purple text-white text-sm font-semibold py-3 px-5 uppercase rounded-full flex items-center gap-2.5">
                                    <span>
                                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M4.33454 9.58362C5.35965 9.83993 6.16007 10.6403 6.41638 11.6655L7.37875 15.5149C7.45002 15.8 7.70616 16 8 16C8.29384 16 8.54998 15.8 8.62125 15.5149L9.58362 11.6655C9.83993 10.6403 10.6403 9.83993 11.6655 9.58362L15.5149 8.62125C15.8 8.54998 16 8.29384 16 8C16 7.70616 15.8 7.45002 15.5149 7.37875L11.6655 6.41638C10.6403 6.16007 9.83993 5.35965 9.58362 4.33454L8.62125 0.485071C8.54998 0.199992 8.29384 0 8 0C7.70616 0 7.45002 0.199991 7.37875 0.485071L6.41638 4.33454C6.16007 5.35965 5.35965 6.16007 4.33454 6.41638L0.485071 7.37875C0.199992 7.45002 0 7.70616 0 8C0 8.29384 0.199991 8.54998 0.485071 8.62125L4.33454 9.58362Z" fill="currentColor" />
                                        </svg>
                                    </span>
                                    Services dans page
                                </p>
                            </div>
                            <h2 class="font-semibold text-[26px]/normal mt-7">page  Angebotene Dienstleistungen</h2>
                            <p>{{ props.description}}</p>
                            <p class="mt-5 text-gray max-w-[708px] mx-auto">Wir entwickeln digitales, grafisches und dimensionales Denken, um kategorieführende Markenerlebnisse zu schaffen, die Bedeutung haben. .</p>
                        </div>
                    </div>
                    <div v-for="service in props.services" :key="services.id" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 mt-14 gap-7">
                        <div  class="border-2 border-gray/[12%] p-7 space-y-5 bg-gradient-liner from-white/[4%] to-transparent" data-aos="fade-up">
                            <div>
                                <img src="@/assets/images/services-1.svg" alt="">
                            </div>
                            <h3 class="text-xl font-semibold"> {{ service.name}} UI/UX Design/Frontend</h3>
                            <p class="text-gray">{{service.description}}</p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Services -->
</template>

<script setup>

import { defineProps } from 'vue'

 const props = defineProps({
    services: Object,
    description: String,
     title: String
 })

console.log(props.title)
</script>
