<template>
    <div>
      <Head title="Create Experiences" />
      <h1 class="mb-8 text-3xl font-bold">
        <Link class="text-indigo-400 hover:text-indigo-600" href="/admin/experiences">Experiences</Link>
        <span class="text-indigo-400 font-medium">/</span> Create
      </h1>
      <div class="max-w-3xl bg-white rounded-md shadow overflow-hidden">
        <form @submit.prevent="store">
          <div class="flex flex-wrap -mb-8 -mr-6 p-8">
            <text-input v-model="form.name" :error="form.errors.name" class="pb-8 pr-6 w-full lg:w-1/2" label="Name" />
            <text-input v-model="form.description" :error="form.errors.description" class="pb-8 pr-6 w-full lg:w-1/2" label="Description" />
            <text-input type="date" v-model="form.start_year" :error="form.errors.start_year" class="pb-8 pr-6 w-full lg:w-1/2" label="Start" />
            <text-input type="date" v-model="form.end_year" :error="form.errors.end_year" class="pb-8 pr-6 w-full lg:w-1/2" label="End" />
            <text-input v-model="form.place" :error="form.errors.place" class="pb-8 pr-6 w-full lg:w-1/2" label="PLace" />
          </div>
          <div class="flex items-center justify-end px-8 py-4 bg-gray-50 border-t border-gray-100">
            <loading-button :loading="form.processing" class="btn-indigo" type="submit">Create Experiences</loading-button>
          </div>
        </form>
      </div>
    </div>
  </template>

  <script>
  import { Head, Link } from '@inertiajs/vue3'
  import Layout from '@/Shared/Layout.vue'
  import TextInput from '@/Shared/TextInput.vue'
  import SelectInput from '@/Shared/SelectInput.vue'
  import LoadingButton from '@/Shared/LoadingButton.vue'
  import FileInput from "@/Shared/FileInput.vue";

  export default {
    components: {
        FileInput,
      Head,
      Link,
      LoadingButton,
      SelectInput,
      TextInput,
    },
    layout: Layout,
    remember: 'form',
    data() {
      return {
        form: this.$inertia.form({
          name: '',
          description: '',
          start_year: '',
          end_year: '',
          place: '',
        }),
      }
    },
    methods: {
      store() {
        this.form.post('/admin/experiences', {
        })
      },
    },
  }
  </script>
