@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600;700&display=swap');
/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
/*
-------------------------------------------------------------------------
* Template Name    : Nichol - Tailwind CSS Personal Portfolio Templates   *
* Author           : SRBThemes                                          *
* Version          : 1.0.0                                              *
* Created          : June 2023                                          *
* File Description : Main CSS file of the template                      *
*------------------------------------------------------------------------
*/

/*****************************
    1. BASIC                 *
    2. HELPER                *
    3. NAVBAR                *
    4. CONTACT               *
******************************/

/*
! tailwindcss v3.4.1 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: currentColor;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden] {
  display: none;
}

*, ::before, ::after{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

::backdrop{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

.container{
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

@media (min-width: 640px){
  .container{
    max-width: 640px;
  }
}

@media (min-width: 768px){
  .container{
    max-width: 768px;
  }
}

@media (min-width: 1024px){
  .container{
    max-width: 1024px;
  }
}

@media (min-width: 1280px){
  .container{
    max-width: 1280px;
  }
}

@media (min-width: 1536px){
  .container{
    max-width: 1536px;
  }
}

/* 1. BASIC */

::-webkit-scrollbar{
  height: 0px;
  width: 0px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb{
  background-color: rgb(5 12 23 / 0.1);
}

/* 2. HELPER */

.btn{
  display: inline-block;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.75rem;
  padding-right: 1.75rem;
  font-weight: 600;
}

.btn-purple{
  --tw-bg-opacity: 1;
  background-color: rgb(153 79 245 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  transition-duration: 300ms;
}

.btn-purple:hover{
  background-color: rgb(153 79 245 / 0.8);
}

.btn-outline-white{
  display: inline-block;
  border-width: 2px;
  border-color: rgb(119 128 161 / 12%);
  --tw-text-opacity: 1;
  color: rgb(5 12 23 / var(--tw-text-opacity));
  transition-duration: 300ms;
}

.btn-outline-white:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(5 12 23 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

:is(.dark .btn-outline-white){
  border-color: rgb(255 255 255 / 12%);
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

:is(.dark .btn-outline-white:hover){
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(5 12 23 / var(--tw-text-opacity));
}

.btn-dark{
  border-width: 2px;
  --tw-border-opacity: 1;
  border-color: rgb(5 12 23 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(5 12 23 / var(--tw-bg-opacity));
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  transition-duration: 300ms;
}

.btn-dark:hover{
  background-color: rgb(5 12 23 / 0.8);
}

:is(.dark .btn-dark){
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(5 12 23 / var(--tw-text-opacity));
}

:is(.dark .btn-dark:hover){
  border-color: rgb(255 255 255 / 0.6);
  background-color: rgb(255 255 255 / 0.9);
}

/* 3. NAVBAR*/

.mobile-nav li.active a{
  --tw-text-opacity: 1;
  color: rgb(153 79 245 / var(--tw-text-opacity));
}

/* 4. CONTACT */

.form-input,.form-textarea{
  height: 3.5rem;
  width: 100%;
  border-width: 2px;
  border-color: rgb(119 128 161 / 0.2);
  padding: 1.25rem;
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgb(5 12 23 / var(--tw-text-opacity));
}

.form-input::-moz-placeholder, .form-textarea::-moz-placeholder{
  --tw-text-opacity: 1;
  color: rgb(119 128 161 / var(--tw-text-opacity));
}

.form-input::placeholder,.form-textarea::placeholder{
  --tw-text-opacity: 1;
  color: rgb(119 128 161 / var(--tw-text-opacity));
}

.form-input:focus,.form-textarea:focus{
  --tw-border-opacity: 1;
  border-color: rgb(153 79 245 / var(--tw-border-opacity));
  outline-width: 0px;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.visible{
  visibility: visible;
}

.static{
  position: static;
}

.fixed{
  position: fixed;
}

.absolute{
  position: absolute;
}

.relative{
  position: relative;
}

.sticky{
  position: sticky;
}

.inset-0{
  inset: 0px;
}

.inset-x-0{
  left: 0px;
  right: 0px;
}

.-top-36{
  top: -9rem;
}

.bottom-0{
  bottom: 0px;
}

.top-0{
  top: 0px;
}

.top-1\/2{
  top: 50%;
}

.top-1\/3{
  top: 33.333333%;
}

.top-4{
  top: 1rem;
}

.z-50{
  z-index: 50;
}

.z-\[99999\]{
  z-index: 99999;
}

.order-1{
  order: 1;
}

.order-2{
  order: 2;
}

.mx-auto{
  margin-left: auto;
  margin-right: auto;
}

.my-8{
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.\!mt-0{
  margin-top: 0px !important;
}

.-mt-16{
  margin-top: -4rem;
}

.mt-10{
  margin-top: 2.5rem;
}

.mt-12{
  margin-top: 3rem;
}

.mt-14{
  margin-top: 3.5rem;
}

.mt-2{
  margin-top: 0.5rem;
}

.mt-3{
  margin-top: 0.75rem;
}

.mt-5{
  margin-top: 1.25rem;
}

.mt-6{
  margin-top: 1.5rem;
}

.mt-7{
  margin-top: 1.75rem;
}

.mt-8{
  margin-top: 2rem;
}

.\!block{
  display: block !important;
}

.block{
  display: block;
}

.inline-block{
  display: inline-block;
}

.flex{
  display: flex;
}

.table{
  display: table;
}

.grid{
  display: grid;
}

.hidden{
  display: none;
}

.h-10{
  height: 2.5rem;
}

.h-11{
  height: 2.75rem;
}

.h-14{
  height: 3.5rem;
}

.h-2{
  height: 0.5rem;
}

.h-2\.5{
  height: 0.625rem;
}

.h-6{
  height: 1.5rem;
}

.h-8{
  height: 2rem;
}

.h-\[2px\]{
  height: 2px;
}

.h-\[30px\]{
  height: 30px;
}

.h-\[42px\]{
  height: 42px;
}

.h-auto{
  height: auto;
}

.h-full{
  height: 100%;
}

.min-h-screen{
  min-height: 100vh;
}

.w-10{
  width: 2.5rem;
}

.w-14{
  width: 3.5rem;
}

.w-2{
  width: 0.5rem;
}

.w-2\.5{
  width: 0.625rem;
}

.w-6{
  width: 1.5rem;
}

.w-8{
  width: 2rem;
}

.w-\[2px\]{
  width: 2px;
}

.w-\[30px\]{
  width: 30px;
}

.w-\[42px\]{
  width: 42px;
}

.w-full{
  width: 100%;
}

.max-w-2xl{
  max-width: 42rem;
}

.max-w-3xl{
  max-width: 48rem;
}

.max-w-\[420px\]{
  max-width: 420px;
}

.max-w-\[480px\]{
  max-width: 480px;
}

.max-w-\[571px\]{
  max-width: 571px;
}

.max-w-\[708px\]{
  max-width: 708px;
}

.max-w-\[800px\]{
  max-width: 800px;
}

.max-w-xl{
  max-width: 36rem;
}

.flex-1{
  flex: 1 1 0%;
}

.shrink-0{
  flex-shrink: 0;
}

.-translate-x-1\/2{
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-translate-y-1\/2{
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.transform{
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.resize-none{
  resize: none;
}

.resize{
  resize: both;
}

.list-none{
  list-style-type: none;
}

.grid-cols-1{
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.flex-col{
  flex-direction: column;
}

.flex-wrap{
  flex-wrap: wrap;
}

.items-start{
  align-items: flex-start;
}

.items-end{
  align-items: flex-end;
}

.items-center{
  align-items: center;
}

.items-stretch{
  align-items: stretch;
}

.justify-start{
  justify-content: flex-start;
}

.justify-end{
  justify-content: flex-end;
}

.justify-center{
  justify-content: center;
}

.justify-between{
  justify-content: space-between;
}

.justify-around{
  justify-content: space-around;
}

.gap-10{
  gap: 2.5rem;
}

.gap-2{
  gap: 0.5rem;
}

.gap-2\.5{
  gap: 0.625rem;
}

.gap-3{
  gap: 0.75rem;
}

.gap-3\.5{
  gap: 0.875rem;
}

.gap-4{
  gap: 1rem;
}

.gap-5{
  gap: 1.25rem;
}

.gap-7{
  gap: 1.75rem;
}

.space-x-7 > :not([hidden]) ~ :not([hidden]){
  --tw-space-x-reverse: 0;
  margin-right: calc(1.75rem * var(--tw-space-x-reverse));
  margin-left: calc(1.75rem * calc(1 - var(--tw-space-x-reverse)));
}

.space-y-0 > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(0px * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0px * var(--tw-space-y-reverse));
}

.space-y-0\.5 > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(0.125rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.125rem * var(--tw-space-y-reverse));
}

.space-y-12 > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(3rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(3rem * var(--tw-space-y-reverse));
}

.space-y-2 > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}

.space-y-2\.5 > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(0.625rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.625rem * var(--tw-space-y-reverse));
}

.space-y-3 > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(0.75rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.75rem * var(--tw-space-y-reverse));
}

.space-y-5 > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(1.25rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1.25rem * var(--tw-space-y-reverse));
}

.space-y-7 > :not([hidden]) ~ :not([hidden]){
  --tw-space-y-reverse: 0;
  margin-top: calc(1.75rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1.75rem * var(--tw-space-y-reverse));
}

.overflow-hidden{
  overflow: hidden;
}

.overflow-y-auto{
  overflow-y: auto;
}

.scroll-smooth{
  scroll-behavior: smooth;
}

.whitespace-nowrap{
  white-space: nowrap;
}

.rounded-full{
  border-radius: 9999px;
}

.rounded-lg{
  border-radius: 0.5rem;
}

.rounded-md{
  border-radius: 0.375rem;
}

.border{
  border-width: 1px;
}

.border-2{
  border-width: 2px;
}

.border-b-2{
  border-bottom-width: 2px;
}

.border-t-2{
  border-top-width: 2px;
}

.border-dark{
  --tw-border-opacity: 1;
  border-color: rgb(5 12 23 / var(--tw-border-opacity));
}

.border-gray\/10{
  border-color: rgb(119 128 161 / 0.1);
}

.border-gray\/20{
  border-color: rgb(119 128 161 / 0.2);
}

.border-gray\/\[12\%\]{
  border-color: rgb(119 128 161 / 12%);
}

.border-gray\/\[14\%\]{
  border-color: rgb(119 128 161 / 14%);
}

.border-gray\/\[16\%\]{
  border-color: rgb(119 128 161 / 16%);
}

.border-white{
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity));
}

.border-white\/10{
  border-color: rgb(255 255 255 / 0.1);
}

.bg-dark{
  --tw-bg-opacity: 1;
  background-color: rgb(5 12 23 / var(--tw-bg-opacity));
}

.bg-dark\/90{
  background-color: rgb(5 12 23 / 0.9);
}

.bg-gray\/5{
  background-color: rgb(119 128 161 / 0.05);
}

.bg-purple{
  --tw-bg-opacity: 1;
  background-color: rgb(153 79 245 / var(--tw-bg-opacity));
}

.bg-purple\/10{
  background-color: rgb(153 79 245 / 0.1);
}

.bg-sky-500{
  --tw-bg-opacity: 1;
  background-color: rgb(14 165 233 / var(--tw-bg-opacity));
}

.bg-warning\/\[14\%\]{
  background-color: rgb(255 196 31 / 14%);
}

.bg-white{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.bg-white\/\[12\%\]{
  background-color: rgb(255 255 255 / 12%);
}

.bg-\[url\(\'\.\.\/images\/dot-line\.svg\'\)\]{
  background-image: url('../images/dot-line.svg');
}

.bg-\[url\(\.\.\/images\/footer-bg\.svg\)\]{
  background-image: url(../images/footer-bg.svg);
}

.bg-gradient-liner{
  background-image: linear-gradient(var(--tw-gradient-stops));
}

.bg-gradient-radial{
  background-image: radial-gradient(var(--tw-gradient-stops));
}

.bg-gradient-to-b{
  background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
}

.from-\[\#994FF5\]{
  --tw-gradient-from: #994FF5 var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(153 79 245 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.from-gray\/10{
  --tw-gradient-from: rgb(119 128 161 / 0.1) var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(119 128 161 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.from-white\/70{
  --tw-gradient-from: rgb(255 255 255 / 0.7) var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(255 255 255 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.from-white\/\[4\%\]{
  --tw-gradient-from: rgb(255 255 255 / 4%) var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(255 255 255 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.to-\[\#FFC41F\]{
  --tw-gradient-to: #FFC41F var(--tw-gradient-to-position);
}

.to-transparent{
  --tw-gradient-to: transparent var(--tw-gradient-to-position);
}

.bg-cover{
  background-size: cover;
}

.bg-clip-text{
  -webkit-background-clip: text;
          background-clip: text;
}

.bg-\[center_top\]{
  background-position: center top;
}

.bg-center{
  background-position: center;
}

.object-cover{
  -o-object-fit: cover;
     object-fit: cover;
}

.p-1{
  padding: 0.25rem;
}

.p-10{
  padding: 2.5rem;
}

.p-2{
  padding: 0.5rem;
}

.p-2\.5{
  padding: 0.625rem;
}

.p-5{
  padding: 1.25rem;
}

.p-7{
  padding: 1.75rem;
}

.px-4{
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-5{
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.px-7{
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}

.py-14{
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

.py-16{
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.py-2{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-3{
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.py-3\.5{
  padding-top: 0.875rem;
  padding-bottom: 0.875rem;
}

.py-5{
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.py-7{
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
}

.pt-12{
  padding-top: 3rem;
}

.pt-24{
  padding-top: 6rem;
}

.pt-5{
  padding-top: 1.25rem;
}

.pt-\[100px\]{
  padding-top: 100px;
}

.text-center{
  text-align: center;
}

.font-sora{
  font-family: Sora, sans-serif;
}

.text-2xl{
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-2xl\/normal{
  font-size: 1.5rem;
  line-height: 1.5;
}

.text-3xl\/normal{
  font-size: 1.875rem;
  line-height: 1.5;
}

.text-5xl{
  font-size: 3rem;
  line-height: 1;
}

.text-\[22px\]{
  font-size: 22px;
}

.text-\[26px\]\/normal{
  font-size: 26px;
  line-height: 1.5;
}

.text-base{
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-lg{
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-sm{
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-xl{
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-xl\/normal{
  font-size: 1.25rem;
  line-height: 1.5;
}

.text-xs{
  font-size: 0.75rem;
  line-height: 1rem;
}

.font-bold{
  font-weight: 700;
}

.font-extrabold{
  font-weight: 800;
}

.font-medium{
  font-weight: 500;
}

.font-normal{
  font-weight: 400;
}

.font-semibold{
  font-weight: 600;
}

.uppercase{
  text-transform: uppercase;
}

.capitalize{
  text-transform: capitalize;
}

.leading-6{
  line-height: 1.5rem;
}

.leading-8{
  line-height: 2rem;
}

.leading-loose{
  line-height: 2;
}

.leading-none{
  line-height: 1;
}

.text-\[\#453DB1\]{
  --tw-text-opacity: 1;
  color: rgb(69 61 177 / var(--tw-text-opacity));
}

.text-dark{
  --tw-text-opacity: 1;
  color: rgb(5 12 23 / var(--tw-text-opacity));
}

.text-gray{
  --tw-text-opacity: 1;
  color: rgb(119 128 161 / var(--tw-text-opacity));
}

.text-purple{
  --tw-text-opacity: 1;
  color: rgb(153 79 245 / var(--tw-text-opacity));
}

.text-transparent{
  color: transparent;
}

.text-warning{
  --tw-text-opacity: 1;
  color: rgb(255 196 31 / var(--tw-text-opacity));
}

.text-white{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.text-white\/80{
  color: rgb(255 255 255 / 0.8);
}

.antialiased{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.shadow{
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-lg{
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.outline-none{
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.blur{
  --tw-blur: blur(8px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.invert{
  --tw-invert: invert(100%);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.filter{
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.backdrop-blur-2xl{
  --tw-backdrop-blur: blur(40px);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
          backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}

.backdrop-blur-sm{
  --tw-backdrop-blur: blur(4px);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
          backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}

.transition{
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-all{
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.duration-300{
  transition-duration: 300ms;
}

.hover\:bg-dark:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(5 12 23 / var(--tw-bg-opacity));
}

.hover\:bg-white\/90:hover{
  background-color: rgb(255 255 255 / 0.9);
}

.hover\:text-purple:hover{
  --tw-text-opacity: 1;
  color: rgb(153 79 245 / var(--tw-text-opacity));
}

.hover\:text-white:hover{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

:is(.dark .dark\:block){
  display: block;
}

:is(.dark .dark\:hidden){
  display: none;
}

:is(.dark .dark\:border-white\/\[12\%\]){
  border-color: rgb(255 255 255 / 12%);
}

:is(.dark .dark\:border-white\/\[14\%\]){
  border-color: rgb(255 255 255 / 14%);
}

:is(.dark .dark\:bg-dark){
  --tw-bg-opacity: 1;
  background-color: rgb(5 12 23 / var(--tw-bg-opacity));
}

:is(.dark .dark\:bg-white\/\[4\%\]){
  background-color: rgb(255 255 255 / 4%);
}

:is(.dark .dark\:bg-white\/\[8\%\]){
  background-color: rgb(255 255 255 / 8%);
}

:is(.dark .dark\:bg-\[url\(\'\.\.\/images\/dot-line-dark\.svg\'\)\]){
  background-image: url('../images/dot-line-dark.svg');
}

:is(.dark .dark\:bg-gradient-liner){
  background-image: linear-gradient(var(--tw-gradient-stops));
}

:is(.dark .dark\:bg-gradient-radial){
  background-image: radial-gradient(var(--tw-gradient-stops));
}

:is(.dark .dark\:from-\[\#994FF5\]\/\[6\%\]){
  --tw-gradient-from: rgb(153 79 245 / 6%) var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(153 79 245 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

:is(.dark .dark\:from-white\/\[4\%\]){
  --tw-gradient-from: rgb(255 255 255 / 4%) var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(255 255 255 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

:is(.dark .dark\:to-\[\#FFC41F\]\/\[6\%\]){
  --tw-gradient-to: rgb(255 196 31 / 6%) var(--tw-gradient-to-position);
}

:is(.dark .dark\:to-transparent){
  --tw-gradient-to: transparent var(--tw-gradient-to-position);
}

:is(.dark .dark\:text-white){
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

:is(.dark .dark\:hover\:bg-white:hover){
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

:is(.dark .dark\:hover\:text-dark:hover){
  --tw-text-opacity: 1;
  color: rgb(5 12 23 / var(--tw-text-opacity));
}

@media (min-width: 640px){
  .sm\:flex{
    display: flex;
  }

  .sm\:grid-cols-2{
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .sm\:space-y-0 > :not([hidden]) ~ :not([hidden]){
    --tw-space-y-reverse: 0;
    margin-top: calc(0px * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0px * var(--tw-space-y-reverse));
  }

  .sm\:pl-8{
    padding-left: 2rem;
  }

  .sm\:pr-8{
    padding-right: 2rem;
  }
}

@media (min-width: 768px){
  .md\:top-5{
    top: 1.25rem;
  }

  .md\:top-\[100px\]{
    top: 100px;
  }

  .md\:col-span-2{
    grid-column: span 2 / span 2;
  }

  .md\:mt-0{
    margin-top: 0px;
  }

  .md\:mt-12{
    margin-top: 3rem;
  }

  .md\:mt-14{
    margin-top: 3.5rem;
  }

  .md\:mt-5{
    margin-top: 1.25rem;
  }

  .md\:mt-8{
    margin-top: 2rem;
  }

  .md\:block{
    display: block;
  }

  .md\:flex{
    display: flex;
  }

  .md\:w-1\/2{
    width: 50%;
  }

  .md\:grid-cols-2{
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .md\:flex-row{
    flex-direction: row;
  }

  .md\:justify-end{
    justify-content: flex-end;
  }

  .md\:justify-between{
    justify-content: space-between;
  }

  .md\:gap-12{
    gap: 3rem;
  }

  .md\:gap-14{
    gap: 3.5rem;
  }

  .md\:space-y-0 > :not([hidden]) ~ :not([hidden]){
    --tw-space-y-reverse: 0;
    margin-top: calc(0px * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0px * var(--tw-space-y-reverse));
  }

  .md\:space-y-8 > :not([hidden]) ~ :not([hidden]){
    --tw-space-y-reverse: 0;
    margin-top: calc(2rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(2rem * var(--tw-space-y-reverse));
  }

  .md\:p-12{
    padding: 3rem;
  }

  .md\:p-14{
    padding: 3.5rem;
  }

  .md\:py-24{
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .md\:pt-20{
    padding-top: 5rem;
  }

  .md\:text-3xl\/normal{
    font-size: 1.875rem;
    line-height: 1.5;
  }

  .md\:text-7xl{
    font-size: 4.5rem;
    line-height: 1;
  }

  .md\:text-\[50px\]\/normal{
    font-size: 50px;
    line-height: 1.5;
  }
}

@media (min-width: 1024px){
  .lg\:absolute{
    position: absolute;
  }

  .lg\:order-1{
    order: 1;
  }

  .lg\:order-2{
    order: 2;
  }

  .lg\:block{
    display: block;
  }

  .lg\:flex{
    display: flex;
  }

  .lg\:hidden{
    display: none;
  }

  .lg\:w-1\/2{
    width: 50%;
  }

  .lg\:w-6\/12{
    width: 50%;
  }

  .lg\:max-w-\[400px\]{
    max-width: 400px;
  }

  .lg\:flex-1{
    flex: 1 1 0%;
  }

  .lg\:grid-cols-3{
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .lg\:flex-row{
    flex-direction: row;
  }

  .lg\:flex-nowrap{
    flex-wrap: nowrap;
  }

  .lg\:items-center{
    align-items: center;
  }

  .lg\:gap-12{
    gap: 3rem;
  }

  .lg\:space-y-0 > :not([hidden]) ~ :not([hidden]){
    --tw-space-y-reverse: 0;
    margin-top: calc(0px * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0px * var(--tw-space-y-reverse));
  }

  .lg\:text-8xl{
    font-size: 6rem;
    line-height: 1;
  }

  .lg\:text-\[40px\]\/normal{
    font-size: 40px;
    line-height: 1.5;
  }
}

@media (min-width: 1280px){
  .xl\:max-w-\[670px\]{
    max-width: 670px;
  }
}

.ltr\:left-0:where([dir="ltr"], [dir="ltr"] *){
  left: 0px;
}

.ltr\:left-1:where([dir="ltr"], [dir="ltr"] *){
  left: 0.25rem;
}

.ltr\:left-px:where([dir="ltr"], [dir="ltr"] *){
  left: 1px;
}

.ltr\:right-0:where([dir="ltr"], [dir="ltr"] *){
  right: 0px;
}

.ltr\:right-4:where([dir="ltr"], [dir="ltr"] *){
  right: 1rem;
}

.ltr\:hidden:where([dir="ltr"], [dir="ltr"] *){
  display: none;
}

.ltr\:-translate-x-1\/2:where([dir="ltr"], [dir="ltr"] *){
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.ltr\:rounded-r-md:where([dir="ltr"], [dir="ltr"] *){
  border-top-right-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
}

.ltr\:pl-7:where([dir="ltr"], [dir="ltr"] *){
  padding-left: 1.75rem;
}

.ltr\:text-left:where([dir="ltr"], [dir="ltr"] *){
  text-align: left;
}

@media (min-width: 768px){
  .ltr\:md\:left-1\/2:where([dir="ltr"], [dir="ltr"] *){
    left: 50%;
  }

  .ltr\:md\:right-5:where([dir="ltr"], [dir="ltr"] *){
    right: 1.25rem;
  }

  .ltr\:md\:-translate-x-1\/2:where([dir="ltr"], [dir="ltr"] *){
    --tw-translate-x: -50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .ltr\:md\:pl-8:where([dir="ltr"], [dir="ltr"] *){
    padding-left: 2rem;
  }

  .ltr\:md\:pr-8:where([dir="ltr"], [dir="ltr"] *){
    padding-right: 2rem;
  }

  .ltr\:md\:text-right:where([dir="ltr"], [dir="ltr"] *){
    text-align: right;
  }
}

@media (min-width: 1024px){
  .ltr\:lg\:pl-14:where([dir="ltr"], [dir="ltr"] *){
    padding-left: 3.5rem;
  }

  .ltr\:lg\:pr-14:where([dir="ltr"], [dir="ltr"] *){
    padding-right: 3.5rem;
  }
}

.rtl\:left-0:where([dir="rtl"], [dir="rtl"] *){
  left: 0px;
}

.rtl\:left-4:where([dir="rtl"], [dir="rtl"] *){
  left: 1rem;
}

.rtl\:right-0:where([dir="rtl"], [dir="rtl"] *){
  right: 0px;
}

.rtl\:right-1:where([dir="rtl"], [dir="rtl"] *){
  right: 0.25rem;
}

.rtl\:right-px:where([dir="rtl"], [dir="rtl"] *){
  right: 1px;
}

.rtl\:hidden:where([dir="rtl"], [dir="rtl"] *){
  display: none;
}

.rtl\:translate-x-1\/2:where([dir="rtl"], [dir="rtl"] *){
  --tw-translate-x: 50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.rtl\:space-x-reverse:where([dir="rtl"], [dir="rtl"] *) > :not([hidden]) ~ :not([hidden]){
  --tw-space-x-reverse: 1;
}

.rtl\:rounded-l-md:where([dir="rtl"], [dir="rtl"] *){
  border-top-left-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
}

.rtl\:pr-7:where([dir="rtl"], [dir="rtl"] *){
  padding-right: 1.75rem;
}

.rtl\:text-right:where([dir="rtl"], [dir="rtl"] *){
  text-align: right;
}

@media (min-width: 768px){
  .rtl\:md\:left-5:where([dir="rtl"], [dir="rtl"] *){
    left: 1.25rem;
  }

  .rtl\:md\:right-1\/2:where([dir="rtl"], [dir="rtl"] *){
    right: 50%;
  }

  .rtl\:md\:translate-x-1\/2:where([dir="rtl"], [dir="rtl"] *){
    --tw-translate-x: 50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .rtl\:md\:pl-8:where([dir="rtl"], [dir="rtl"] *){
    padding-left: 2rem;
  }

  .rtl\:md\:pr-8:where([dir="rtl"], [dir="rtl"] *){
    padding-right: 2rem;
  }

  .rtl\:md\:text-left:where([dir="rtl"], [dir="rtl"] *){
    text-align: left;
  }
}

@media (min-width: 1024px){
  .rtl\:lg\:pl-14:where([dir="rtl"], [dir="rtl"] *){
    padding-left: 3.5rem;
  }

  .rtl\:lg\:pr-14:where([dir="rtl"], [dir="rtl"] *){
    padding-right: 3.5rem;
  }
}

