<template>
    <!-- Start Education & Experiance -->
    <section id="education" class="py-16 md:py-24">
        <div class="container">
            <div class="grid grid-cols-1" data-aos="fade-up">
                <div class="text-center">
                    <div class="inline-block">
                        <p class="bg-purple text-white text-sm font-semibold py-3 px-5 uppercase rounded-full flex items-center gap-2.5">
                                    <span>
                                        <svg fill="none" height="16" viewBox="0 0 16 16" width="16"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M4.33454 9.58362C5.35965 9.83993 6.16007 10.6403 6.41638 11.6655L7.37875 15.5149C7.45002 15.8 7.70616 16 8 16C8.29384 16 8.54998 15.8 8.62125 15.5149L9.58362 11.6655C9.83993 10.6403 10.6403 9.83993 11.6655 9.58362L15.5149 8.62125C15.8 8.54998 16 8.29384 16 8C16 7.70616 15.8 7.45002 15.5149 7.37875L11.6655 6.41638C10.6403 6.16007 9.83993 5.35965 9.58362 4.33454L8.62125 0.485071C8.54998 0.199992 8.29384 0 8 0C7.70616 0 7.45002 0.199991 7.37875 0.485071L6.41638 4.33454C6.16007 5.35965 5.35965 6.16007 4.33454 6.41638L0.485071 7.37875C0.199992 7.45002 0 7.70616 0 8C0 8.29384 0.199991 8.54998 0.485071 8.62125L4.33454 9.58362Z"
                                                fill="currentColor"/>
                                        </svg>
                                    </span>
                            Lebenslauf
                        </p>
                    </div>
                    <h2 class="font-semibold text-[26px]/normal mt-7">Bildung & Erfahrung</h2>
                    <p class="mt-5 text-gray max-w-[708px] mx-auto">Lorem Ipsum is simply dummy text of the printing</p>
                </div>
            </div>
            <div class="grid grid-cols-1 mt-14">
                <div class="relative space-y-12 md:space-y-8"
                     data-aos="fade-up">
                    <!-- Vertical bar running through middle -->
                    <div :style="backgroundStyle"
                         class="block shrink-0  w-[2px] bg-center bg-cover absolute h-full ltr:left-0 rtl:right-0 ltr:md:left-1/2 rtl:md:right-1/2 transform ltr:md:-translate-x-1/2 rtl:md:translate-x-1/2"></div>
                    <!-- Left section, set by justify-start and sm:pr-8   -->
                    <!-- Educations  -->
                    <div v-for="(education, key) in educations" :key="key" class="relative !mt-0">
                        <div class="flex flex-col items-center md:flex-row">
                            <div class="flex items-center justify-start w-full mx-auto">
                                <div
                                    class="w-full md:w-1/2 ltr:pl-7 rtl:pr-7 ltr:md:pr-8 rtl:md:pl-8 ltr:lg:pr-14 rtl:lg:pl-14">
                                    <div
                                        class="space-y-5 ltr:text-left rtl:text-right ltr:md:text-right rtl:md:text-left">
                                        <div>
                                            <svg class="inline-block" fill="none" height="34" viewBox="0 0 34 34"
                                                 width="34" xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M28.6875 15.0171V22.0854C28.6881 22.345 28.5936 22.5959 28.4219 22.7906C26.9211 24.4627 23.2555 27.625 17 27.625C10.7445 27.625 7.08157 24.4627 5.57813 22.7906C5.40639 22.5959 5.3119 22.345 5.3125 22.0854V15.0171L17 21.25L28.6875 15.0171Z"
                                                    fill="url(#paint0_radial_92_357)"
                                                    opacity="0.2"/>
                                                <path
                                                    d="M33.4369 11.8124L17.4994 3.31235C17.3457 3.23049 17.1742 3.18768 17 3.18768C16.8258 3.18768 16.6544 3.23049 16.5006 3.31235L0.563129 11.8124C0.393134 11.9029 0.250967 12.0381 0.151835 12.2032C0.0527028 12.3684 0.000335693 12.5574 0.000335693 12.75C0.000335693 12.9426 0.0527028 13.1316 0.151835 13.2968C0.250967 13.462 0.393134 13.5971 0.563129 13.6877L4.25 15.6546V22.0854C4.2489 22.6073 4.44097 23.1111 4.78922 23.4999C6.52907 25.4376 10.4271 28.6875 17 28.6875C19.1794 28.7055 21.3425 28.3108 23.375 27.5241V31.875C23.375 32.1568 23.4869 32.4271 23.6862 32.6263C23.8855 32.8256 24.1557 32.9375 24.4375 32.9375C24.7193 32.9375 24.9895 32.8256 25.1888 32.6263C25.3881 32.4271 25.5 32.1568 25.5 31.875V26.4974C26.8855 25.6976 28.1375 24.6862 29.2108 23.4999C29.559 23.1111 29.7511 22.6073 29.75 22.0854V15.6546L33.4369 13.6877C33.6069 13.5971 33.749 13.462 33.8482 13.2968C33.9473 13.1316 33.9997 12.9426 33.9997 12.75C33.9997 12.5574 33.9473 12.3684 33.8482 12.2032C33.749 12.0381 33.6069 11.9029 33.4369 11.8124ZM17 26.5625C11.2532 26.5625 7.87313 23.7548 6.375 22.0854V16.7875L16.5006 22.1877C16.6544 22.2695 16.8258 22.3123 17 22.3123C17.1742 22.3123 17.3457 22.2695 17.4994 22.1877L23.375 19.0546V25.2091C21.7016 25.9901 19.5925 26.5625 17 26.5625ZM27.625 22.0801C26.9881 22.7868 26.2755 23.4215 25.5 23.9727V17.9204L27.625 16.7875V22.0801ZM24.9688 15.7967L24.9395 15.7795L17.502 11.8124C17.2539 11.6856 16.9659 11.6614 16.7001 11.745C16.4343 11.8285 16.2119 12.0132 16.0809 12.2591C15.95 12.5051 15.9208 12.7926 15.9998 13.0598C16.0788 13.327 16.2596 13.5525 16.5033 13.6877L22.7109 17L17 20.0454L3.32032 12.75L17 5.45462L30.6797 12.75L24.9688 15.7967Z"
                                                    fill="url(#paint1_radial_92_357)"/>
                                                <defs>
                                                    <radialGradient id="paint0_radial_92_357" cx="0" cy="0"
                                                                    gradientTransform="translate(17 21.321) rotate(151.659) scale(13.2792 11.0967)"
                                                                    gradientUnits="userSpaceOnUse"
                                                                    r="1">
                                                        <stop stop-color="#994FF5"/>
                                                        <stop offset="1" stop-color="#FFC41F"/>
                                                    </radialGradient>
                                                    <radialGradient id="paint1_radial_92_357" cx="0" cy="0"
                                                                    gradientTransform="translate(17 18.0626) rotate(138.814) scale(22.5888 22.3889)"
                                                                    gradientUnits="userSpaceOnUse"
                                                                    r="1">
                                                        <stop stop-color="#994FF5"/>
                                                        <stop offset="1" stop-color="#FFC41F"/>
                                                    </radialGradient>
                                                </defs>
                                            </svg>
                                        </div>
                                        <div class="mt-7">
                                            <div
                                                class="flex flex-col justify-end gap-2 sm:gap-4 lg:flex-row lg:items-center ">
                                                <span class="font-semibold text-warning whitespace-nowrap ">{{
                                                        key
                                                    }}</span>
                                                <span class=" text-xl font-semibold">{{
                                                        education.name
                                                    }}</span>
                                            </div>
                                            <p class="mt-5 text-gray">{{ education.description }}</p>
                                            <p class="mt-6 font-semibold">{{ education.place }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div
                                class="bg-gradient-radial from-[#994FF5] to-[#FFC41F] shrink-0 rounded-full w-2.5 h-2.5 block absolute ltr:left-px rtl:right-px -translate-x-1/2 ltr:md:left-1/2 rtl:md:right-1/2 transform ltr:md:-translate-x-1/2 rtl:md:translate-x-1/2 top-1/2 -translate-y-1/2"></div>
                        </div>
                    </div>
                    <!-- Title Img   -->
                    <div class="relative hidden w-full md:block">
                        <div class="absolute w-full ltr:left-1 rtl:right-1 -top-36">
                            <img alt="" class="mx-auto dark:hidden" src="@/assets/images/edandex.png">
                            <img alt="" class="hidden mx-auto dark:block" src="@/assets/images/edandex-dark.png">
                        </div>
                    </div>
                    <!-- Right section, set by justify-end and sm:pl-8 -->
                    <!-- Experiences  -->
                    <div v-for="(experience , key) in experiences" :key="key" class="relative">
                        <div class="flex flex-col items-center md:flex-row">
                            <div class="flex items-center justify-end w-full mx-auto">
                                <div
                                    class="w-full md:w-1/2 ltr:pl-7 rtl:pr-7 ltr:md:pl-8 rtl:md:pr-8 ltr:lg:pl-14 rtl:lg:pr-14">
                                    <div class="space-y-5 ltr:text-left rtl:text-right">
                                        <div>
                                            <svg class="inline-block" fill="none" height="34" viewBox="0 0 34 34"
                                                 width="34" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M29.75 8.5L17 12.75L4.25 8.5L17 4.25L29.75 8.5Z"
                                                      fill="url(#paint0_radial_96_398)"
                                                      opacity="0.2"/>
                                                <path
                                                    d="M30.086 7.49197L17.336 3.24197C17.1179 3.16926 16.8821 3.16926 16.664 3.24197L3.91398 7.49197C3.72114 7.55702 3.55102 7.67608 3.42388 7.83501C3.29674 7.99393 3.21792 8.18603 3.1968 8.38846C3.19056 8.42531 3.18745 8.46264 3.1875 8.50002V19.125C3.1875 19.4068 3.29944 19.6771 3.4987 19.8763C3.69796 20.0756 3.96821 20.1875 4.25 20.1875C4.53179 20.1875 4.80204 20.0756 5.0013 19.8763C5.20056 19.6771 5.3125 19.4068 5.3125 19.125V9.97424L9.77367 11.4604C8.5884 13.3753 8.21149 15.6823 8.7257 17.8749C9.23991 20.0674 10.6032 21.9663 12.5163 23.1546C10.1256 24.0922 8.05906 25.7882 6.54766 28.1071C6.46905 28.224 6.41445 28.3552 6.38703 28.4934C6.35962 28.6315 6.35992 28.7737 6.38794 28.9116C6.41595 29.0496 6.47112 29.1807 6.55023 29.2972C6.62933 29.4137 6.73081 29.5133 6.84875 29.5902C6.96669 29.6671 7.09874 29.7198 7.23723 29.7453C7.37572 29.7707 7.51789 29.7684 7.65547 29.7384C7.79305 29.7084 7.92329 29.6514 8.03863 29.5706C8.15398 29.4898 8.25211 29.3869 8.32734 29.2679C10.3288 26.1973 13.4898 24.4375 17 24.4375C20.5102 24.4375 23.6712 26.1973 25.6727 29.2679C25.8285 29.4995 26.0692 29.6605 26.3428 29.716C26.6164 29.7716 26.9008 29.7172 27.1346 29.5647C27.3685 29.4122 27.5329 29.1738 27.5923 28.9011C27.6518 28.6283 27.6015 28.3431 27.4523 28.1071C25.9409 25.7882 23.8664 24.0922 21.4837 23.1546C23.395 21.9663 24.757 20.0687 25.2711 17.8778C25.7852 15.6868 25.4095 13.3814 24.2263 11.467L30.086 9.51471C30.2976 9.44422 30.4817 9.30893 30.6121 9.12801C30.7425 8.94708 30.8127 8.7297 30.8127 8.50666C30.8127 8.28362 30.7425 8.06624 30.6121 7.88531C30.4817 7.70439 30.2976 7.5691 30.086 7.49861V7.49197ZM23.375 15.9375C23.3753 16.9454 23.1366 17.9389 22.6786 18.8367C22.2205 19.7344 21.5561 20.5108 20.7399 21.1021C19.9237 21.6933 18.979 22.0826 17.9832 22.2381C16.9874 22.3935 15.9689 22.3106 15.0113 21.9962C14.0538 21.6818 13.1844 21.1449 12.4745 20.4294C11.7647 19.714 11.2346 18.8404 10.9277 17.8804C10.6208 16.9204 10.5459 15.9013 10.7092 14.9068C10.8724 13.9122 11.2691 12.9705 11.8668 12.159L16.664 13.7528C16.8821 13.8255 17.1179 13.8255 17.336 13.7528L22.1332 12.159C22.9404 13.2534 23.3756 14.5777 23.375 15.9375ZM17 11.6304L7.61016 8.50002L17 5.36963L26.3898 8.50002L17 11.6304Z"
                                                    fill="url(#paint1_radial_96_398)"/>
                                                <defs>
                                                    <radialGradient id="paint0_radial_96_398" cx="0" cy="0"
                                                                    gradientTransform="translate(17 8.5) rotate(161.565) scale(13.4397 8.06381)"
                                                                    gradientUnits="userSpaceOnUse"
                                                                    r="1">
                                                        <stop stop-color="#994FF5"/>
                                                        <stop offset="1" stop-color="#FFC41F"/>
                                                    </radialGradient>
                                                    <radialGradient id="paint1_radial_96_398" cx="0" cy="0"
                                                                    gradientTransform="translate(17.0001 16.4751) rotate(136.11) scale(19.1664 19.152)"
                                                                    gradientUnits="userSpaceOnUse"
                                                                    r="1">
                                                        <stop stop-color="#994FF5"/>
                                                        <stop offset="1" stop-color="#FFC41F"/>
                                                    </radialGradient>
                                                </defs>
                                            </svg>
                                        </div>
                                        <div class="mt-7">
                                            <div class="flex flex-col gap-4 lg:flex-row lg:items-center lg:gap-12">
                                                <span class="text-xl font-semibold">{{ experience.name }}</span>
                                                <span class="font-semibold text-warning">{{ key }}</span>
                                            </div>
                                            <p class="mt-5 text-gray">{{ experience.description }}</p>
                                            <p class="mt-6 font-semibold">{{ experience.place }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div
                                class="bg-gradient-radial from-[#994FF5] to-[#FFC41F] shrink-0 rounded-full w-2.5 h-2.5 block absolute ltr:left-px rtl:right-px ltr:-translate-x-1/2 rtl:translate-x-1/2 ltr:md:left-1/2 rtl:md:right-1/2 transform ltr:md:-translate-x-1/2 rtl:md:translate-x-1/2 top-1/2 -translate-y-1/2"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Education & Experiance -->
</template>

<script>

import dotLineDark from '@/assets/images/dot-line-dark.svg';
import dotLine from '@/assets/images/dot-line.svg';

export default {
    name: "TEAM",

    props: {
        educations: Object,
        experiences: Object,
    },

    data() {
        return {
            dotLine,
            dotLineDark,
        }
    },

    computed: {

        mergedData() {
            let merged = [];
            for (let key in this.experiences) {
                merged.push({type: 'experience', key: key, data: this.experiences[key]});
            }
            for (let key in this.educations) {
                merged.push({type: 'education', key: key, data: this.educations[key]});
            }
            return merged;
        },

        backgroundStyle() {
            return {
                backgroundImage: window.matchMedia('(prefers-color-scheme: dark)').matches
                    ? `url(${this.dotLine})`
                    : `url(${this.dotLineDark})`,

            }
        }
    },
}
</script>
