<template>
    <!-- Start Footer -->
    <footer id="contact" class="bg-dark dark:bg-white/[8%]">
        <div class="py-16">
            <div class="container">
                <div class="grid items-center grid-cols-1 md:grid-cols-2 gap-7">
                    <div class="text-white">
                        <h3 class="font-bold text-3xl/normal lg:text-[40px]/normal max-w-xl">Haben Sie ein Projekt im
                            Sinn? Dann nichts wie ran an die Arbeit.</h3>
                        <div class="inline-block mt-8 md:mt-14" x-data="{ isOpen: false }">
                            <button class="flex items-center gap-2.5 btn btn-purple" type="button"
                                    @click="isOpen = true">
                                Contact Me
                                <svg fill="none" height="20" viewBox="0 0 20 20" width="20"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M14.0035 7.4083L5.41176 16L4 14.5882L12.5917 5.99654H5.01905V4H16V14.981H14.0035V7.4083Z"
                                        fill="currentColor"></path>
                                </svg>
                            </button>
                            <div
                                :class="isOpen && '!block'"
                                class="fixed text-dark dark:text-white inset-0 bg-dark/90 backdrop-blur-sm z-[99999] overflow-y-auto hidden"
                                x-show="isOpen" @click="handleClick">
                                <div class="flex items-center justify-center min-h-screen px-4" x-show="isOpen"
                                     x-transition x-transition.duration.300>
                                    <div
                                        class="relative w-full max-w-3xl my-8 overflow-hidden bg-white rounded-lg px-7 py-14 md:p-14">
                                        <button
                                            class="absolute flex items-center justify-center w-10 h-10 rounded-md ltr:right-4 rtl:left-4 top-4 ltr:md:right-5 rtl:md:left-5 md:top-5 bg-purple/10 text-purple"
                                            type="button"
                                            @click="isOpen = false">
                                            <svg class="w-6 h-6" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M12.0007 10.5865L16.9504 5.63672L18.3646 7.05093L13.4149 12.0007L18.3646 16.9504L16.9504 18.3646L12.0007 13.4149L7.05093 18.3646L5.63672 16.9504L10.5865 12.0007L5.63672 7.05093L7.05093 5.63672L12.0007 10.5865Z"
                                                    fill="currentColor"></path>
                                            </svg>
                                        </button>
                                        <div class="max-w-[480px]">
                                            <h3 class="text-2xl font-bold text-dark md:text-3xl/normal">Got Ideas? We've
                                                got the skills. Let's team up.</h3>
                                            <p class="mt-5 text-gray">Tell us more about yourself and what you're got in
                                                mind.</p>
                                        </div>
                                        <form class="mt-8 md:mt-12" @submit.prevent="store">
                                            <div class="grid grid-cols-1 gap-5 md:grid-cols-2">
                                                <div>
                                                    <input v-model="form.name" class="form-input"
                                                           placeholder="Full name..."
                                                           required="" type="text">
                                                </div>
                                                <div>
                                                    <input v-model="form.email" class="form-input"
                                                           placeholder="Your Email"
                                                           required="" type="email">
                                                </div>
                                                <div class="md:col-span-2">
                                                    <input v-model="form.subject" class="form-input"
                                                           placeholder="Subject"
                                                           required="" type="text">
                                                </div>
                                                <div class="md:col-span-2">
                                                    <textarea v-model="form.message"
                                                              class="h-auto resize-none form-textarea"
                                                              placeholder="Your message..." required=""
                                                              rows="3"></textarea>
                                                </div>
                                                <div class="md:col-span-2">
                                                    <button class="btn btn-purple">Send Message</Button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <img alt="" class="mx-auto" src="@/assets/images/footer_2.png">
                    </div>
                </div>
            </div>
        </div>
        <div :style="{ backgroundImage: `url(${footerBg})` }" class="bg-[center_top] bg-cover pt-24">
            <div class="container">
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-7">
                    <div class="text-white">
                                <span>
                                    <svg fill="none" height="40" viewBox="0 0 40 40" width="40"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M34.9906 27.1998C34.7479 29.014 33.8545 30.6782 32.4767 31.883C31.0988 33.0879 29.3303 33.7512 27.5 33.7498C21.8642 33.7498 16.4591 31.511 12.474 27.5259C8.48884 23.5407 6.25 18.1357 6.25 12.4998C6.2486 10.6695 6.912 8.90101 8.11682 7.52318C9.32163 6.14534 10.9859 5.25197 12.8 5.00922C13.0682 4.97736 13.3395 5.03321 13.5732 5.16841C13.807 5.30361 13.9907 5.51089 14.0969 5.75922L17.3984 13.1342C17.4796 13.3236 17.5126 13.5302 17.4946 13.7354C17.4766 13.9407 17.4081 14.1384 17.2953 14.3108L13.9563 18.2811C13.8378 18.4598 13.7678 18.6662 13.753 18.8801C13.7382 19.094 13.7792 19.3081 13.8719 19.5014C15.1641 22.1467 17.8984 24.8483 20.5516 26.128C20.7459 26.2203 20.961 26.2603 21.1755 26.2442C21.3901 26.228 21.5967 26.1562 21.775 26.0358L25.6813 22.7077C25.8544 22.5925 26.0535 22.5223 26.2606 22.5035C26.4676 22.4846 26.6761 22.5178 26.8672 22.5998L34.2359 25.9014C34.4854 26.0069 34.6939 26.1905 34.83 26.4247C34.9661 26.6588 35.0225 26.9309 34.9906 27.1998Z"
                                            fill="currentColor"
                                            opacity="0.2"/>
                                        <path
                                            d="M23.7922 5.92673C23.8346 5.7681 23.9079 5.61937 24.0078 5.48906C24.1078 5.35875 24.2324 5.24941 24.3746 5.16728C24.5168 5.08515 24.6738 5.03185 24.8366 5.01041C24.9994 4.98898 25.1648 4.99983 25.3235 5.04236C27.6407 5.64697 29.755 6.85837 31.4484 8.55179C33.1418 10.2452 34.3532 12.3594 34.9578 14.6767C35.0004 14.8353 35.0112 15.0008 34.9898 15.1636C34.9683 15.3264 34.915 15.4834 34.8329 15.6256C34.7508 15.7678 34.6414 15.8924 34.5111 15.9924C34.3808 16.0923 34.2321 16.1656 34.0735 16.208C33.9679 16.2357 33.8592 16.2499 33.75 16.2502C33.4746 16.2502 33.2068 16.1592 32.9884 15.9913C32.77 15.8235 32.6131 15.5882 32.5422 15.322C32.0491 13.4304 31.0604 11.7044 29.6781 10.3221C28.2958 8.93976 26.5698 7.95109 24.6781 7.45798C24.5194 7.41572 24.3705 7.34257 24.24 7.24271C24.1095 7.14286 24 7.01825 23.9177 6.87603C23.8354 6.73382 23.782 6.57677 23.7605 6.41388C23.7389 6.25099 23.7497 6.08545 23.7922 5.92673ZM23.4281 12.458C25.5828 13.033 26.9672 14.4174 27.5422 16.572C27.6131 16.8382 27.77 17.0735 27.9884 17.2413C28.2068 17.4092 28.4746 17.5002 28.75 17.5002C28.8592 17.4999 28.9679 17.4857 29.0735 17.458C29.2321 17.4156 29.3808 17.3423 29.5111 17.2424C29.6414 17.1424 29.7508 17.0178 29.8329 16.8756C29.915 16.7334 29.9683 16.5764 29.9898 16.4136C30.0112 16.2508 30.0004 16.0853 29.9578 15.9267C29.1578 12.933 27.0672 10.8424 24.0735 10.0424C23.9148 9.99999 23.7494 9.98927 23.5867 10.0108C23.4239 10.0324 23.267 10.0858 23.1249 10.168C22.9828 10.2502 22.8582 10.3595 22.7584 10.4899C22.6586 10.6202 22.5854 10.7689 22.543 10.9275C22.5006 11.0861 22.4899 11.2515 22.5114 11.4143C22.533 11.577 22.5864 11.734 22.6686 11.8761C22.7508 12.0182 22.8602 12.1427 22.9905 12.2426C23.1208 12.3424 23.2695 12.4156 23.4281 12.458ZM36.2313 27.3564C35.9527 29.4737 34.9129 31.4171 33.3061 32.8237C31.6994 34.2303 29.6355 35.004 27.5 35.0002C15.0938 35.0002 5.00001 24.9064 5.00001 12.5002C4.99619 10.3647 5.76984 8.30083 7.17647 6.69407C8.58311 5.08731 10.5265 4.04753 12.6438 3.76892C13.1792 3.70355 13.7213 3.81308 14.1894 4.08117C14.6574 4.34926 15.0262 4.76152 15.2406 5.25642L18.5406 12.6236V12.6424C18.7048 13.0212 18.7727 13.4348 18.738 13.8462C18.7034 14.2577 18.5674 14.6541 18.3422 15.0002C18.3141 15.0424 18.2844 15.0814 18.2531 15.1205L15 18.9767C16.1703 21.3549 18.6578 23.8205 21.0672 24.9939L24.8703 21.758C24.9077 21.7266 24.9468 21.6974 24.9875 21.6705C25.3333 21.4399 25.7311 21.2991 26.145 21.2609C26.5588 21.2227 26.9757 21.2883 27.3578 21.4517L27.3781 21.4611L34.7391 24.7595C35.2348 24.9733 35.6481 25.3417 35.9171 25.8098C36.1861 26.2779 36.2963 26.8205 36.2313 27.3564ZM33.75 27.0439C33.75 27.0439 33.7391 27.0439 33.7328 27.0439L26.3891 23.7549L22.5844 26.9908C22.5475 27.0221 22.5089 27.0513 22.4688 27.0783C22.109 27.3183 21.6931 27.4609 21.2618 27.4921C20.8305 27.5233 20.3984 27.4421 20.0078 27.2564C17.0813 25.8424 14.1641 22.947 12.7485 20.0517C12.561 19.664 12.4769 19.2344 12.5043 18.8046C12.5316 18.3749 12.6696 17.9594 12.9047 17.5986C12.9312 17.5562 12.961 17.516 12.9938 17.4783L16.25 13.6174L12.9688 6.27361C12.9681 6.26737 12.9681 6.26109 12.9688 6.25486C11.4535 6.45251 10.0623 7.19574 9.05566 8.34535C8.04899 9.49496 7.49592 10.9721 7.50001 12.5002C7.5058 17.8027 9.6148 22.8864 13.3643 26.6359C17.1137 30.3854 22.1975 32.4944 27.5 32.5002C29.0271 32.5054 30.5039 31.9543 31.6542 30.9498C32.8044 29.9453 33.5495 28.5563 33.75 27.0424V27.0439Z"
                                            fill="currentColor"/>
                                    </svg>
                                </span>
                        <div class="mt-7">
                            <p class="text-sm text-white/80">Mon-Fri von 8 Uhr bis 18 Uhr.</p>
                            <p class="mt-3 text-lg font-semibold">+49 17675823089</p>
                        </div>
                    </div>
                    <div class="text-white">
                                <span>
                                    <svg fill="none" height="40" viewBox="0 0 40 40" width="40"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M35 15L22.7266 23.75H17.2734L5 15L20 5L35 15Z" fill="currentColor"
                                              opacity="0.2"/>
                                        <path
                                            d="M35.6938 13.9592L20.6938 3.95921C20.4883 3.82216 20.2469 3.74902 20 3.74902C19.7531 3.74902 19.5117 3.82216 19.3062 3.95921L4.30625 13.9592C4.13502 14.0735 3.99465 14.2282 3.89761 14.4098C3.80057 14.5913 3.74987 14.794 3.75 14.9998V31.2498C3.75 31.9129 4.01339 32.5488 4.48223 33.0176C4.95107 33.4864 5.58696 33.7498 6.25 33.7498H33.75C34.413 33.7498 35.0489 33.4864 35.5178 33.0176C35.9866 32.5488 36.25 31.9129 36.25 31.2498V14.9998C36.2501 14.794 36.1994 14.5913 36.1024 14.4098C36.0054 14.2282 35.865 14.0735 35.6938 13.9592ZM15.1125 23.7498L6.25 29.9998V17.4264L15.1125 23.7498ZM17.6703 24.9998H22.3297L31.1781 31.2498H8.82187L17.6703 24.9998ZM24.8875 23.7498L33.75 17.4264V29.9998L24.8875 23.7498ZM20 6.5014L32.7984 15.0342L22.3297 22.4998H17.6734L7.20469 15.0342L20 6.5014Z"
                                            fill="currentColor"/>
                                    </svg>
                                </span>
                        <div class="mt-7">
                            <p class="text-sm text-white/80">Ich bin für Sie da..</p>
                            <p class="mt-3 text-lg font-semibold">diarrisso49@gmailcom</p>
                        </div>
                    </div>
                    <div class="text-white">
                                <span>
                                    <svg fill="none" height="40" viewBox="0 0 40 40" width="40"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M20 3.75C16.6848 3.75 13.5054 5.06696 11.1612 7.41117C8.81696 9.75537 7.5 12.9348 7.5 16.25C7.5 27.5 20 36.25 20 36.25C20 36.25 32.5 27.5 32.5 16.25C32.5 12.9348 31.183 9.75537 28.8388 7.41117C26.4946 5.06696 23.3152 3.75 20 3.75ZM20 21.25C19.0111 21.25 18.0444 20.9568 17.2221 20.4073C16.3999 19.8579 15.759 19.077 15.3806 18.1634C15.0022 17.2498 14.9031 16.2445 15.0961 15.2745C15.289 14.3046 15.7652 13.4137 16.4645 12.7145C17.1637 12.0152 18.0546 11.539 19.0245 11.3461C19.9945 11.1531 20.9998 11.2522 21.9134 11.6306C22.827 12.009 23.6079 12.6499 24.1573 13.4721C24.7068 14.2944 25 15.2611 25 16.25C25 17.5761 24.4732 18.8479 23.5355 19.7855C22.5979 20.7232 21.3261 21.25 20 21.25Z"
                                            fill="currentColor"
                                            opacity="0.2"/>
                                        <path
                                            d="M20 10C18.7639 10 17.5555 10.3666 16.5277 11.0533C15.4999 11.7401 14.6988 12.7162 14.2258 13.8582C13.7527 15.0003 13.6289 16.2569 13.8701 17.4693C14.1112 18.6817 14.7065 19.7953 15.5806 20.6694C16.4547 21.5435 17.5683 22.1387 18.7807 22.3799C19.9931 22.6211 21.2497 22.4973 22.3918 22.0242C23.5338 21.5512 24.5099 20.7501 25.1967 19.7223C25.8834 18.6945 26.25 17.4861 26.25 16.25C26.25 14.5924 25.5915 13.0027 24.4194 11.8306C23.2473 10.6585 21.6576 10 20 10ZM20 20C19.2583 20 18.5333 19.7801 17.9166 19.368C17.2999 18.956 16.8193 18.3703 16.5355 17.6851C16.2516 16.9998 16.1774 16.2458 16.3221 15.5184C16.4667 14.791 16.8239 14.1228 17.3483 13.5983C17.8728 13.0739 18.541 12.7167 19.2684 12.5721C19.9958 12.4274 20.7498 12.5016 21.4351 12.7854C22.1203 13.0693 22.706 13.5499 23.118 14.1666C23.5301 14.7833 23.75 15.5083 23.75 16.25C23.75 17.2446 23.3549 18.1984 22.6517 18.9016C21.9484 19.6049 20.9946 20 20 20ZM20 2.5C16.3545 2.50414 12.8596 3.95412 10.2818 6.53185C7.70412 9.10958 6.25414 12.6045 6.25 16.25C6.25 21.1562 8.51719 26.3562 12.8125 31.2891C14.7425 33.5181 16.9148 35.5252 19.2891 37.2734C19.4992 37.4207 19.7496 37.4996 20.0062 37.4996C20.2629 37.4996 20.5133 37.4207 20.7234 37.2734C23.0934 35.5245 25.2614 33.5174 27.1875 31.2891C31.4766 26.3562 33.75 21.1562 33.75 16.25C33.7459 12.6045 32.2959 9.10958 29.7182 6.53185C27.1404 3.95412 23.6455 2.50414 20 2.5ZM20 34.6875C17.4172 32.6562 8.75 25.1953 8.75 16.25C8.75 13.2663 9.93526 10.4048 12.045 8.29505C14.1548 6.18526 17.0163 5 20 5C22.9837 5 25.8452 6.18526 27.955 8.29505C30.0647 10.4048 31.25 13.2663 31.25 16.25C31.25 25.1922 22.5828 32.6562 20 34.6875Z"
                                            fill="currentColor"/>
                                    </svg>
                                </span>
                        <div class="mt-7">
                            <p class="text-sm text-white/80">Adresse</p>
                            <p class="mt-3 text-lg font-semibold">Am Becketal 80 28755 Bremen</p>
                        </div>
                    </div>
                </div>
                <div class="grid grid-cols-1">
                    <div class="h-[2px] bg-white/[12%] block mt-12"></div>
                    <div class="flex flex-col items-center py-5 md:flex-row md:justify-between gap-7">
                        <div>
                            <p class="text-sm text-white">
                                Copyright
                                {{ currentYear }}
                                Mamadi Diarrisso
                            </p>
                        </div>
                        <div>
                            <ul class="text-white flex items-center flex-wrap gap-3.5">

                                <li>
                                    <a href="https://www.instagram.com/masingacite/">
                                        <svg fill="none" height="28" viewBox="0 0 28 28" width="28"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M19.25 3.5H8.75C7.35761 3.5 6.02226 4.05312 5.03769 5.03769C4.05312 6.02226 3.5 7.35761 3.5 8.75V19.25C3.5 20.6424 4.05312 21.9777 5.03769 22.9623C6.02226 23.9469 7.35761 24.5 8.75 24.5H19.25C20.6424 24.5 21.9777 23.9469 22.9623 22.9623C23.9469 21.9777 24.5 20.6424 24.5 19.25V8.75C24.5 7.35761 23.9469 6.02226 22.9623 5.03769C21.9777 4.05312 20.6424 3.5 19.25 3.5ZM14 18.375C13.1347 18.375 12.2888 18.1184 11.5694 17.6377C10.8499 17.1569 10.2892 16.4737 9.95803 15.6742C9.62689 14.8748 9.54025 13.9951 9.70906 13.1465C9.87787 12.2978 10.2946 11.5183 10.9064 10.9064C11.5183 10.2946 12.2978 9.87787 13.1465 9.70906C13.9951 9.54025 14.8748 9.62689 15.6742 9.95803C16.4737 10.2892 17.1569 10.8499 17.6377 11.5694C18.1184 12.2888 18.375 13.1347 18.375 14C18.375 15.1603 17.9141 16.2731 17.0936 17.0936C16.2731 17.9141 15.1603 18.375 14 18.375Z"
                                                fill="currentColor"
                                                opacity="0.2"/>
                                            <path
                                                d="M19.25 2.625H8.75C7.12608 2.62674 5.56917 3.27261 4.42089 4.42089C3.27261 5.56917 2.62674 7.12608 2.625 8.75V19.25C2.62674 20.8739 3.27261 22.4308 4.42089 23.5791C5.56917 24.7274 7.12608 25.3733 8.75 25.375H19.25C20.8739 25.3733 22.4308 24.7274 23.5791 23.5791C24.7274 22.4308 25.3733 20.8739 25.375 19.25V8.75C25.3733 7.12608 24.7274 5.56917 23.5791 4.42089C22.4308 3.27261 20.8739 2.62674 19.25 2.625ZM23.625 19.25C23.625 20.4103 23.1641 21.5231 22.3436 22.3436C21.5231 23.1641 20.4103 23.625 19.25 23.625H8.75C7.58968 23.625 6.47688 23.1641 5.65641 22.3436C4.83594 21.5231 4.375 20.4103 4.375 19.25V8.75C4.375 7.58968 4.83594 6.47688 5.65641 5.65641C6.47688 4.83594 7.58968 4.375 8.75 4.375H19.25C20.4103 4.375 21.5231 4.83594 22.3436 5.65641C23.1641 6.47688 23.625 7.58968 23.625 8.75V19.25ZM14 8.75C12.9616 8.75 11.9466 9.05791 11.0833 9.63478C10.2199 10.2117 9.54699 11.0316 9.14963 11.9909C8.75227 12.9502 8.64831 14.0058 8.85088 15.0242C9.05345 16.0426 9.55346 16.9781 10.2877 17.7123C11.0219 18.4465 11.9574 18.9466 12.9758 19.1491C13.9942 19.3517 15.0498 19.2477 16.0091 18.8504C16.9684 18.453 17.7883 17.7801 18.3652 16.9167C18.9421 16.0534 19.25 15.0384 19.25 14C19.2486 12.6081 18.695 11.2735 17.7107 10.2893C16.7265 9.30504 15.3919 8.75145 14 8.75ZM14 17.5C13.3078 17.5 12.6311 17.2947 12.0555 16.9101C11.4799 16.5256 11.0313 15.9789 10.7664 15.3394C10.5015 14.6999 10.4322 13.9961 10.5673 13.3172C10.7023 12.6383 11.0356 12.0146 11.5251 11.5251C12.0146 11.0356 12.6383 10.7023 13.3172 10.5673C13.9961 10.4322 14.6999 10.5015 15.3394 10.7664C15.9789 11.0313 16.5256 11.4799 16.9101 12.0555C17.2947 12.6311 17.5 13.3078 17.5 14C17.5 14.9283 17.1313 15.8185 16.4749 16.4749C15.8185 17.1313 14.9283 17.5 14 17.5ZM21 8.3125C21 8.57209 20.923 8.82585 20.7788 9.04169C20.6346 9.25753 20.4296 9.42575 20.1898 9.52509C19.9499 9.62443 19.686 9.65042 19.4314 9.59978C19.1768 9.54914 18.943 9.42413 18.7594 9.24058C18.5759 9.05702 18.4509 8.82316 18.4002 8.56856C18.3496 8.31396 18.3756 8.05006 18.4749 7.81023C18.5742 7.5704 18.7425 7.36542 18.9583 7.2212C19.1742 7.07698 19.4279 7 19.6875 7C20.0356 7 20.3694 7.13828 20.6156 7.38442C20.8617 7.63056 21 7.9644 21 8.3125Z"
                                                fill="currentColor"/>
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/in/mamadi-diarrisso-061990268/">
                                        <svg fill="none" height="28" viewBox="0 0 28 28" width="28"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M24.5 4.375V23.625C24.5 23.8571 24.4078 24.0796 24.2437 24.2437C24.0796 24.4078 23.8571 24.5 23.625 24.5H4.375C4.14294 24.5 3.92038 24.4078 3.75628 24.2437C3.59219 24.0796 3.5 23.8571 3.5 23.625V4.375C3.5 4.14294 3.59219 3.92038 3.75628 3.75628C3.92038 3.59219 4.14294 3.5 4.375 3.5H23.625C23.8571 3.5 24.0796 3.59219 24.2437 3.75628C24.4078 3.92038 24.5 4.14294 24.5 4.375Z"
                                                fill="currentColor"
                                                opacity="0.2"/>
                                            <path
                                                d="M23.625 2.625H4.375C3.91087 2.625 3.46575 2.80937 3.13756 3.13756C2.80937 3.46575 2.625 3.91087 2.625 4.375V23.625C2.625 24.0891 2.80937 24.5342 3.13756 24.8624C3.46575 25.1906 3.91087 25.375 4.375 25.375H23.625C24.0891 25.375 24.5342 25.1906 24.8624 24.8624C25.1906 24.5342 25.375 24.0891 25.375 23.625V4.375C25.375 3.91087 25.1906 3.46575 24.8624 3.13756C24.5342 2.80937 24.0891 2.625 23.625 2.625ZM23.625 23.625H4.375V4.375H23.625V23.625ZM10.5 12.25V19.25C10.5 19.4821 10.4078 19.7046 10.2437 19.8687C10.0796 20.0328 9.85706 20.125 9.625 20.125C9.39294 20.125 9.17038 20.0328 9.00628 19.8687C8.84219 19.7046 8.75 19.4821 8.75 19.25V12.25C8.75 12.0179 8.84219 11.7954 9.00628 11.6313C9.17038 11.4672 9.39294 11.375 9.625 11.375C9.85706 11.375 10.0796 11.4672 10.2437 11.6313C10.4078 11.7954 10.5 12.0179 10.5 12.25ZM20.125 15.3125V19.25C20.125 19.4821 20.0328 19.7046 19.8687 19.8687C19.7046 20.0328 19.4821 20.125 19.25 20.125C19.0179 20.125 18.7954 20.0328 18.6313 19.8687C18.4672 19.7046 18.375 19.4821 18.375 19.25V15.3125C18.375 14.7323 18.1445 14.1759 17.7343 13.7657C17.3241 13.3555 16.7677 13.125 16.1875 13.125C15.6073 13.125 15.0509 13.3555 14.6407 13.7657C14.2305 14.1759 14 14.7323 14 15.3125V19.25C14 19.4821 13.9078 19.7046 13.7437 19.8687C13.5796 20.0328 13.3571 20.125 13.125 20.125C12.8929 20.125 12.6704 20.0328 12.5063 19.8687C12.3422 19.7046 12.25 19.4821 12.25 19.25V12.25C12.2511 12.0357 12.3308 11.8292 12.474 11.6697C12.6172 11.5103 12.814 11.4089 13.027 11.3849C13.24 11.3609 13.4543 11.4159 13.6295 11.5395C13.8046 11.6631 13.9283 11.8466 13.977 12.0553C14.569 11.6538 15.2591 11.421 15.9733 11.3821C16.6875 11.3432 17.3988 11.4996 18.0309 11.8344C18.6629 12.1693 19.1918 12.67 19.5607 13.2828C19.9297 13.8955 20.1248 14.5972 20.125 15.3125ZM10.9375 9.1875C10.9375 9.44709 10.8605 9.70085 10.7163 9.91669C10.5721 10.1325 10.3671 10.3008 10.1273 10.4001C9.88744 10.4994 9.62354 10.5254 9.36894 10.4748C9.11434 10.4241 8.88048 10.2991 8.69692 10.1156C8.51337 9.93202 8.38836 9.69816 8.33772 9.44356C8.28708 9.18896 8.31307 8.92506 8.41241 8.68523C8.51175 8.4454 8.67998 8.24042 8.89581 8.0962C9.11165 7.95198 9.36541 7.875 9.625 7.875C9.9731 7.875 10.3069 8.01328 10.5531 8.25942C10.7992 8.50556 10.9375 8.8394 10.9375 9.1875Z"
                                                fill="currentColor"/>
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.facebook.com/hamam.hamadou">
                                        <svg fill="none" height="28" viewBox="0 0 28 28" width="28"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M24.5 14C24.5 16.0767 23.8842 18.1068 22.7304 19.8335C21.5767 21.5602 19.9368 22.906 18.0182 23.7007C16.0996 24.4955 13.9884 24.7034 11.9516 24.2982C9.91476 23.8931 8.04383 22.8931 6.57538 21.4246C5.10693 19.9562 4.1069 18.0852 3.70176 16.0484C3.29661 14.0116 3.50455 11.9004 4.29927 9.98182C5.09399 8.0632 6.4398 6.42332 8.16652 5.26957C9.89323 4.11581 11.9233 3.5 14 3.5C16.7848 3.5 19.4555 4.60625 21.4246 6.57538C23.3938 8.54451 24.5 11.2152 24.5 14Z"
                                                fill="currentColor"
                                                opacity="0.2"/>
                                            <path
                                                d="M14 2.625C11.7502 2.625 9.551 3.29213 7.68039 4.54203C5.80978 5.79193 4.35182 7.56847 3.49088 9.64698C2.62993 11.7255 2.40467 14.0126 2.84357 16.2192C3.28248 18.4257 4.36584 20.4525 5.95667 22.0433C7.54749 23.6342 9.57432 24.7175 11.7809 25.1564C13.9874 25.5953 16.2745 25.3701 18.353 24.5091C20.4315 23.6482 22.2081 22.1902 23.458 20.3196C24.7079 18.449 25.375 16.2498 25.375 14C25.3718 10.9841 24.1724 8.09271 22.0398 5.96018C19.9073 3.82764 17.0159 2.62818 14 2.625ZM14.875 23.5845V16.625H17.5C17.7321 16.625 17.9546 16.5328 18.1187 16.3687C18.2828 16.2046 18.375 15.9821 18.375 15.75C18.375 15.5179 18.2828 15.2954 18.1187 15.1313C17.9546 14.9672 17.7321 14.875 17.5 14.875H14.875V12.25C14.875 11.7859 15.0594 11.3408 15.3876 11.0126C15.7158 10.6844 16.1609 10.5 16.625 10.5H18.375C18.6071 10.5 18.8296 10.4078 18.9937 10.2437C19.1578 10.0796 19.25 9.85706 19.25 9.625C19.25 9.39294 19.1578 9.17038 18.9937 9.00628C18.8296 8.84219 18.6071 8.75 18.375 8.75H16.625C15.6967 8.75 14.8065 9.11875 14.1501 9.77513C13.4938 10.4315 13.125 11.3217 13.125 12.25V14.875H10.5C10.2679 14.875 10.0454 14.9672 9.88129 15.1313C9.71719 15.2954 9.625 15.5179 9.625 15.75C9.625 15.9821 9.71719 16.2046 9.88129 16.3687C10.0454 16.5328 10.2679 16.625 10.5 16.625H13.125V23.5845C10.6584 23.3594 8.3735 22.1919 6.74564 20.3251C5.11778 18.4583 4.27227 16.0358 4.38497 13.5614C4.49768 11.0871 5.55992 8.75148 7.35074 7.04037C9.14157 5.32925 11.5231 4.37439 14 4.37439C16.4769 4.37439 18.8584 5.32925 20.6493 7.04037C22.4401 8.75148 23.5023 11.0871 23.615 13.5614C23.7277 16.0358 22.8822 18.4583 21.2544 20.3251C19.6265 22.1919 17.3416 23.3594 14.875 23.5845Z"
                                                fill="currentColor"/>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer -->
</template>

<script>
import {onMounted, ref} from 'vue';
import {useForm} from '@inertiajs/inertia-vue3';
import LoadingButton from '@/Shared/LoadingButton.vue'
import {usePage} from "@inertiajs/vue3";
import axios from 'axios';
import footerBg from '@/assets/images/footer-bg.svg';

export default {
    name: "FOOTER",
    components: {LoadingButton},

    setup() {
        const isOpen = ref(false);
        const container = ref(null);
        const currentYear = ref(new Date().getFullYear());
        const handleClick = (event) => {
            if (container.value && !container.value.contains(event.target)) {
                isOpen.value = false;
            }
        };
        const handleClickOutside = (event) => {
            if (container.value && !container.value.contains(event.target)) {
                isOpen.value = false;
            }
        };

        const {flash} = usePage().props;

        onMounted(() => {
            window.addEventListener('click', handleClickOutside);
        });

        // Axios
        const store = async () => {
            try {
                const response = await axios.post('/contact', form);
                if (!flash.error) {
                    isOpen.value = false;
                    form.name = null;
                    form.email = null;
                    form.subject = null;
                    form.message = null;
                }
            } catch (error) {
                console.error(error);
            }
        };

        const form = useForm({
            name: null,
            message: null,
            email: null,
            subject: null,
        });


        return {
            isOpen,
            container,
            currentYear,
            handleClick,
            store,
            form,
            footerBg
        };
    }
};
</script>
