<template>
    <BNav id="navbar"
          class="fixed top-0 z-50 w-full border-b-2 mobile-menu-bg py-7 bg-dark mobile-nav stickyadd border-white/10">
        <div class="container">
            <div class="flex items-center justify-between md:block">
                <div class="flex items-center justify-between w-full">
                    <div class="relative z-50">
                        <a class="h-10 text-white uppercase font-bold" href="/">
                            Mamadi Diarrisso
                        </a>
                    </div>
                    <div class="flex items-center gap-5 lg:hidden">
                        <button class="block text-white outline-none lg:hidden mobile-menu-button"
                                @click="toggleNavbar">

                            <svg v-if="!isOpen" class="w-8 h-8" fill="none" viewBox="0 0 24 24"
                                 xmlns="http://www.w3.org/2000/svg">
                                <rect fill="currentColor" height="1.6" opacity="0.3" rx="0.8" width="18" x="3"
                                      y="17.2"></rect>
                                <rect fill="currentColor" height="1.6" opacity="0.5" rx="0.8" width="18" x="3"
                                      y="11.6"></rect>
                                <rect fill="currentColor" height="1.6" rx="0.8" width="18" x="3" y="6"></rect>
                            </svg>

                            <svg v-else class="w-8 h-8" fill="none" viewBox="0 0 24 24"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M6 18L18 6M6 6l12 12" stroke="currentColor" stroke-linecap="round"
                                      stroke-linejoin="round" stroke-width="2"/>
                            </svg>


                            <!--<svg v-else class="w-8 h-8" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect x="3" y="17.2" width="18" height="1.6" rx="0.8" fill="currentColor"></rect>
                                <rect x="3" y="11.6" width="18" height="1.6" rx="0.8" fill="currentColor"></rect>
                                <rect x="3" y="6" width="18" height="1.6" rx="0.8" fill="currentColor"></rect>
                            </svg>-->

                        </button>


                    </div>
                    <div class="hidden lg:block">
                        <ul class="flex items-center text-white list-none space-x-7 rtl:space-x-reverse all-nav">
                            <li v-for="item in navItems" :key="item.name" :class="item.name">
                                <a v-smooth-scroll :href="item.href"
                                   class="inline-block py-2 font-semibold leading-6 duration-300">
                                    {{ item.text }}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--<div class="hidden lg:hidden mobile-menu ">-->
            <div :class="{'hidden': !isOpen, 'lg:hidden': true, 'mobile-menu': true}">
                <div class="pt-5">
                    <ul class="text-white">

                        <li v-for="item in navItems" :key="item.name" :class="item.name">
                            <a v-smooth-scroll :href="item.href"
                               class="inline-block py-2 font-semibold leading-6 duration-300 ">
                                {{ item.text }}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </BNav>
</template>


<script>
import {onMounted, onUnmounted, ref} from 'vue';

export default {
    name: "NAVBAR",


    data() {
        return {
            navItems: [
                {name: 'home', text: 'Home', href: '#home'},
                {name: 'about', text: 'Über mich', href: '#about'},
                {name: 'education', text: 'Bildung&Erfahrung', href: '#education'},
                {name: 'work', text: 'Projekte', href: '#work'},
                {name: 'skills', text: 'Skills', href: '#skills'},
            ],
        };
    },

    setup() {
        const navbar = ref(null);
        const isOpen = ref(false);

        const toggleNavbar = () => {
            isOpen.value = !isOpen.value;
        };

        // Handle click outside to close the menu
        const handleClickOutside = (event) => {
            if (navbar.value && !navbar.value.contains(event.target)) {
                isOpen.value = false;
            }
        };

        onMounted(() => {
            window.addEventListener('click', handleClickOutside);
        });

        onUnmounted(() => {
            window.removeEventListener('click', handleClickOutside);
        });

        return {
            navbar,
            isOpen,
            toggleNavbar
        };
    }
};
</script>
