<template>
    <!-- Start Skill & Awards -->
    <section class="py-16 md:py-24 bg-gray/5 dark:bg-gradient-radial dark:from-[#994FF5]/[9%] dark:to-[#FFC41F]/[9%]"
             i>
        <div class="container">
            <div class="grid grid-cols-1" data-aos="fade-up">
                <div class="text-center">
                    <div class="inline-block">
                        <p class="bg-purple text-white text-sm font-semibold py-3 px-5 uppercase rounded-full flex items-center gap-2.5">
                                    <span>
                                        <svg fill="none" height="16" viewBox="0 0 16 16" width="16"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M4.33454 9.58362C5.35965 9.83993 6.16007 10.6403 6.41638 11.6655L7.37875 15.5149C7.45002 15.8 7.70616 16 8 16C8.29384 16 8.54998 15.8 8.62125 15.5149L9.58362 11.6655C9.83993 10.6403 10.6403 9.83993 11.6655 9.58362L15.5149 8.62125C15.8 8.54998 16 8.29384 16 8C16 7.70616 15.8 7.45002 15.5149 7.37875L11.6655 6.41638C10.6403 6.16007 9.83993 5.35965 9.58362 4.33454L8.62125 0.485071C8.54998 0.199992 8.29384 0 8 0C7.70616 0 7.45002 0.199991 7.37875 0.485071L6.41638 4.33454C6.16007 5.35965 5.35965 6.16007 4.33454 6.41638L0.485071 7.37875C0.199992 7.45002 0 7.70616 0 8C0 8.29384 0.199991 8.54998 0.485071 8.62125L4.33454 9.58362Z"
                                                fill="currentColor"/>
                                        </svg>
                                    </span>
                            Skills
                        </p>
                    </div>
                    <h2 class="font-semibold text-[26px]/normal mt-7   dark:text-black">Masterful Talents and
                        Honors</h2>
                    <p class="mt-5 text-gray max-w-[708px] mx-auto">We craft digital, graphic and dimensional thinking,
                        to create category leading brand experiences that have meaning .</p>
                </div>
            </div>
            <div class="grid items-center grid-cols-1 gap-10  md:gap-14 mt-14">
                <div data-aos="fade-up">
                    <div class="flex flex-wrap items-start gap-7">
                        <div v-for="skill in skillsWithPercentages" :key="skill.name"
                             class="flex-1 px-5 text-center border-2 border-gray/15 py-7">
                            <!--                            <img alt="" class="w-[30px] h-[30px] inline-block" src="@/assets/images/html.svg">-->
                            <p class="mt-3 text-sm text-warning font-semibold whitespace-nowrap">{{ skill.name }}</p>
                            <!--                            <p class="mt-2 text-sm font-semibold text-gray">{{ skill.level }}%</p>-->
                            <div class="w-full  bg-blue-100  rounded-full h-2.5 mt-2">
                                <div :style="{ width: skill.percentage + '%' }"
                                     class="bg-purple  h-2.5 rounded-full"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Skill & Awards -->
</template>

<script>
export default {
    name: "PRICING",

    data() {
        return {
            level: 90,        // La valeur actuelle
            maxLevel: 100     // La valeur maximale (par exemple, 100)
        };
    },
    computed: {
        skillsWithPercentages() {
            const maxLevel = 100;
            return this.skills.map(skill => {
                return {
                    ...skill,
                    percentage: ((skill.level / maxLevel) * 100).toFixed(2)
                };
            });
        }
    },
    props: {
        title: String,
        description: String,
        skills: {
            type: Array,
            required: true
        }
    }
}
</script>


<style scoped>
/* Styles pour les barres de progression */
.progress-bar-container {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 10px;
    margin-top: 10px;
    overflow: hidden;
}

.progress-bar {
    height: 10px;
    background-color: #6200ea;
    border-radius: 10px;
    transition: width 0.5s ease-in-out;
}
</style>
