<template>
    <!-- Start Work -->
    <section id="work" class="py-16 md:py-24">
        <div class="container">
            <div class="grid grid-cols-1" data-aos="fade-up">
                <div class="text-center">
                    <div class="inline-block">
                        <p class="bg-purple text-white text-sm font-semibold py-3 px-5 uppercase rounded-full flex items-center gap-2.5">
                                    <span>
                                        <svg fill="none" height="16" viewBox="0 0 16 16" width="16"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M4.33454 9.58362C5.35965 9.83993 6.16007 10.6403 6.41638 11.6655L7.37875 15.5149C7.45002 15.8 7.70616 16 8 16C8.29384 16 8.54998 15.8 8.62125 15.5149L9.58362 11.6655C9.83993 10.6403 10.6403 9.83993 11.6655 9.58362L15.5149 8.62125C15.8 8.54998 16 8.29384 16 8C16 7.70616 15.8 7.45002 15.5149 7.37875L11.6655 6.41638C10.6403 6.16007 9.83993 5.35965 9.58362 4.33454L8.62125 0.485071C8.54998 0.199992 8.29384 0 8 0C7.70616 0 7.45002 0.199991 7.37875 0.485071L6.41638 4.33454C6.16007 5.35965 5.35965 6.16007 4.33454 6.41638L0.485071 7.37875C0.199992 7.45002 0 7.70616 0 8C0 8.29384 0.199991 8.54998 0.485071 8.62125L4.33454 9.58362Z"
                                                fill="currentColor"></path>
                                        </svg>
                                    </span>
                            Selected work
                        </p>
                    </div>
                    <h2 class="font-semibold text-[26px]/normal mt-7">Présentation de mes projets remarquables</h2>
                    <p class="mt-5 text-gray max-w-[708px] mx-auto">
                        We craft digital, graphic and dimensional thinking, to create category leading brand experiences
                        that have meaning .
                    </p>
                </div>
            </div>
            <div class="grid grid-cols-1 mt-14 gap-7">
                <div v-for="project in visibleProjects" :key="project.id"
                     class="flex flex-wrap lg:flex-nowrap items-stretch border-2 border-gray/20 dark:border-white/[12%]"
                     data-aos="fade-up">
                    <div class="order-2 p-10 md:p-12 lg:flex-1 lg:order-1">
                        <p class="text-warning text-[22px] font-bold">{{ project.category.name }}</p>
                        <a :href="project.link"
                           class="font-bold text-2xl/normal md:text-3xl/normal lg:text-[40px]/normal inline-block mt-5">
                            {{ project.name }}
                        </a>
                        <p class="text-gray max-w-[420px] mt-3 md:mt-5"> {{ project.description }}</p>
                        <div class="flex items-center gap-4 mt-5 md:mt-8">
                            <!--                                    <div class="border-2 border-gray/[14%] h-14 w-14 rounded-full flex items-center justify-center">
                                                                    <img src="@/assets/images/figma-ex.svg" alt="">
                                                                </div>
                                                                <div class="border-2 border-gray/[14%] h-14 w-14 rounded-full flex items-center justify-center">
                                                                    <img src="@/assets/images/sketch-ex.svg" alt="">
                                                                </div>-->
                            <ul aria-label="Technologies used" class="mt-2 flex flex-wrap">
                                <li v-for="technology in project.technologies" :key="technology.id" class="mr-1.5 mt-2">
                                    <div
                                        class="flex items-center rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium leading-5 text-teal-300 ">
                                        {{ technology.name }}
                                    </div>
                                </li>

                            </ul>
                        </div>
                        <div class="inline-block mt-8">
                            <a :href="project.link" class="flex items-center gap-2.5 py-3.5 text-sm font-semibold px-5 border-2 border-dark duration-300 hover:bg-dark hover:text-white dark:border-white/[14%] dark:hover:bg-white dark:hover:text-dark"
                               target="_blank">
                                View Project
                                <svg fill="none" height="20" viewBox="0 0 20 20" width="20"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M14.0035 7.4083L5.41176 16L4 14.5882L12.5917 5.99654H5.01905V4H16V14.981H14.0035V7.4083Z"
                                        fill="currentColor"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="xl:max-w-[670px] lg:max-w-[400px] w-full lg:order-2 order-1">
                        <img alt="" class="object-cover w-full h-full mx-auto" src="@/assets/images/work-1.png">
                    </div>
                </div>
                <div class="text-center" data-aos="fade-up">
                    <button class="btn btn-dark" @click="loadMore">View More Project</button>
                </div>
            </div>
        </div>
    </section>
    <!-- End Work -->
</template>

<script>
export default {
    name: "CONTACT",

    data() {
        return {
            limit: 3
        };
    },
    props: {
        title: String,
        description: String,
        projects: Object
    },

    computed: {
        visibleProjects() {
            return this.projects.slice(0, this.limit)
        }
    },

    methods: {
        loadMore() {
            this.limit += 3;
        }
    }
}
</script>
