<template>
    <Layout>
        <section id="home" class="pt-[100px] relative overflow-hidden">
            <div class="container">
                <div class="grid grid-cols-1">
                    <div class="flex flex-col flex-wrap items-center gap-5 lg:flex-row">
                        <div class="w-full lg:w-1/2">
                            <div class="py-16 md:py-24" data-aos="fade-up">
                                <p class="text-warning bg-warning/[14%] font-semibold text-lg inline-block p-2.5">Hallo!
                                    Ich bin Mamadi Diarrisso </p>
                                <h1 class="mt-6 md:mt-8 font-bold text-3xl/normal md:text-[50px]/normal">Full-Stack
                                    Entwickler</h1>
                                <p class="text-gray mt-6 max-w-[571px] leading-loose">Immer auf der Suche nach bewährten
                                    Methoden und neuen Technologien bemühe ich mich, erfolgreiche Weblösungen zu
                                    entwickeln...</p>
                                <div class="flex flex-wrap items-end gap-5 mt-10">

                                    <p class="text-2xl font-semibold" data-delay="0" data-end-at="5"
                                       data-format="{}+" data-start-at="0" data-time="1000" data-vanilla-counter>
                                        <count-to :duration='3000' :endVal='4' :startVal='0'></count-to>
                                        +
                                    </p>
                                    <p class="text-gray">Jahre Erfahrungen</p>
                                    <!--                                    <a class="flex items-center gap-2.5 btn btn-purple" href="#contact">
                                                                            <svg fill="none" height="24" viewBox="0 0 24 24" width="24"
                                                                                 xmlns="http://www.w3.org/2000/svg">
                                                                                <path
                                                                                    d="M18 9C18 10.1867 17.6481 11.3467 16.9888 12.3334C16.3295 13.3201 15.3925 14.0892 14.2961 14.5433C13.1997 14.9974 11.9933 15.1162 10.8295 14.8847C9.66557 14.6532 8.59648 14.0818 7.75736 13.2426C6.91825 12.4035 6.3468 11.3344 6.11529 10.1705C5.88378 9.00666 6.0026 7.80026 6.45673 6.7039C6.91085 5.60754 7.67989 4.67047 8.66658 4.01118C9.65328 3.35189 10.8133 3 12 3C13.5913 3 15.1174 3.63214 16.2426 4.75736C17.3679 5.88258 18 7.4087 18 9Z"
                                                                                    fill="currentColor"
                                                                                    opacity="0.2"/>
                                                                                <path
                                                                                    d="M21.6488 19.8751C20.2209 17.4067 18.0206 15.6367 15.4528 14.7976C16.723 14.0415 17.7098 12.8893 18.2618 11.518C18.8137 10.1468 18.9003 8.63224 18.5082 7.20701C18.1161 5.78178 17.267 4.52467 16.0912 3.62873C14.9155 2.73279 13.4782 2.24756 12 2.24756C10.5218 2.24756 9.08451 2.73279 7.90878 3.62873C6.73306 4.52467 5.88394 5.78178 5.49183 7.20701C5.09971 8.63224 5.18629 10.1468 5.73825 11.518C6.29021 12.8893 7.27704 14.0415 8.5472 14.7976C5.97938 15.6357 3.77907 17.4057 2.35126 19.8751C2.2989 19.9605 2.26417 20.0555 2.24912 20.1545C2.23407 20.2535 2.239 20.3545 2.26363 20.4516C2.28825 20.5487 2.33207 20.6399 2.3925 20.7197C2.45293 20.7996 2.52874 20.8666 2.61547 20.9167C2.7022 20.9667 2.79808 20.999 2.89745 21.0114C2.99683 21.0238 3.0977 21.0163 3.19409 20.9891C3.29049 20.9619 3.38047 20.9157 3.45872 20.8532C3.53697 20.7907 3.6019 20.7131 3.6497 20.6251C5.41595 17.5726 8.53782 15.7501 12 15.7501C15.4622 15.7501 18.5841 17.5726 20.3503 20.6251C20.3981 20.7131 20.4631 20.7907 20.5413 20.8532C20.6196 20.9157 20.7095 20.9619 20.8059 20.9891C20.9023 21.0163 21.0032 21.0238 21.1026 21.0114C21.2019 20.999 21.2978 20.9667 21.3845 20.9167C21.4713 20.8666 21.5471 20.7996 21.6075 20.7197C21.6679 20.6399 21.7118 20.5487 21.7364 20.4516C21.761 20.3545 21.766 20.2535 21.7509 20.1545C21.7358 20.0555 21.7011 19.9605 21.6488 19.8751ZM6.75001 9.00011C6.75001 7.96176 7.05792 6.94672 7.63479 6.08337C8.21167 5.22001 9.03161 4.5471 9.99092 4.14974C10.9502 3.75238 12.0058 3.64841 13.0242 3.85099C14.0426 4.05356 14.9781 4.55357 15.7123 5.2878C16.4465 6.02202 16.9466 6.95748 17.1491 7.97589C17.3517 8.99429 17.2477 10.0499 16.8504 11.0092C16.453 11.9685 15.7801 12.7884 14.9168 13.3653C14.0534 13.9422 13.0384 14.2501 12 14.2501C10.6081 14.2486 9.27359 13.695 8.28934 12.7108C7.3051 11.7265 6.7515 10.392 6.75001 9.00011Z"
                                                                                    fill="currentColor"/>
                                                                            </svg>
                                                                            Stellen Sie mich ein
                                                                        </a>-->
                                    <a :href="pdfLink" class="flex items-center gap-2.5 btn btn-outline-white"
                                       download="Mamadi">
                                        <svg fill="none" height="24" viewBox="0 0 24 24" width="24"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M20.2388 5.28654L17.4497 21.1303C17.4326 21.2273 17.3966 21.32 17.3436 21.4031C17.2907 21.4862 17.2219 21.558 17.1412 21.6145C17.0605 21.671 16.9695 21.7111 16.8733 21.7324C16.7771 21.7537 16.6777 21.7559 16.5806 21.7387L4.36971 19.5825C4.17396 19.5479 3.99991 19.4371 3.88583 19.2743C3.77174 19.1116 3.72694 18.9101 3.76127 18.7143L6.55034 2.8706C6.56743 2.77358 6.60347 2.68087 6.6564 2.59778C6.70933 2.51469 6.77811 2.44284 6.85882 2.38634C6.93952 2.32984 7.03057 2.28979 7.12675 2.26848C7.22294 2.24718 7.32238 2.24503 7.4194 2.26216L19.6303 4.41841C19.8261 4.45294 20.0001 4.56378 20.1142 4.72656C20.2283 4.88933 20.2731 5.09075 20.2388 5.28654Z"
                                                fill="currentColor"
                                                opacity="0.2"/>
                                            <path
                                                d="M19.7606 3.67969L7.54969 1.52344C7.15796 1.4545 6.7549 1.54397 6.42913 1.77217C6.10335 2.00037 5.88155 2.34861 5.8125 2.74031L3.02344 18.5841C2.98932 18.7782 2.99379 18.9771 3.03659 19.1694C3.07938 19.3618 3.15967 19.5439 3.27285 19.7052C3.38603 19.8665 3.5299 20.004 3.69622 20.1097C3.86254 20.2154 4.04807 20.2873 4.24219 20.3213L16.4531 22.4775C16.6473 22.5117 16.8463 22.5074 17.0388 22.4647C17.2313 22.4219 17.4134 22.3417 17.5749 22.2285C17.7363 22.1153 17.8738 21.9714 17.9796 21.805C18.0854 21.6386 18.1573 21.453 18.1912 21.2588L20.9803 5.415C21.0486 5.02315 20.9585 4.6202 20.7298 4.29478C20.5011 3.96936 20.1525 3.74811 19.7606 3.67969ZM16.7119 21L4.5 18.8438L7.28906 3L19.5 5.15625L16.7119 21ZM8.37562 5.47688C8.41036 5.2811 8.52143 5.10713 8.68439 4.99321C8.84736 4.8793 9.04889 4.83475 9.24469 4.86938L17.0259 6.24281C17.2109 6.27521 17.3769 6.37579 17.4913 6.52467C17.6057 6.67356 17.66 6.85993 17.6437 7.04696C17.6273 7.23399 17.5414 7.40808 17.4029 7.53484C17.2644 7.66159 17.0834 7.73179 16.8956 7.73156C16.8516 7.7315 16.8077 7.72774 16.7644 7.72031L8.98312 6.34594C8.78735 6.3112 8.61338 6.20014 8.49946 6.03717C8.38554 5.87421 8.341 5.67267 8.37562 5.47688ZM7.85625 8.43188C7.87334 8.33485 7.90938 8.24215 7.96231 8.15906C8.01524 8.07597 8.08403 8.00412 8.16473 7.94762C8.24544 7.89111 8.33648 7.85107 8.43267 7.82976C8.52885 7.80845 8.6283 7.8063 8.72531 7.82344L16.5066 9.19781C16.6928 9.22896 16.8604 9.3292 16.976 9.47853C17.0915 9.62786 17.1465 9.81527 17.1299 10.0034C17.1134 10.1915 17.0265 10.3664 16.8866 10.4932C16.7467 10.62 16.5641 10.6894 16.3753 10.6875C16.331 10.6876 16.2867 10.6835 16.2431 10.6753L8.46187 9.30188C8.26625 9.26671 8.09258 9.15533 7.97903 8.9922C7.86547 8.82907 7.82131 8.62754 7.85625 8.43188ZM7.33594 11.3859C7.37133 11.1907 7.48266 11.0174 7.64555 10.9041C7.80844 10.7907 8.00961 10.7466 8.205 10.7813L12.0938 11.4647C12.2786 11.4971 12.4446 11.5976 12.559 11.7464C12.6733 11.8952 12.7278 12.0814 12.7115 12.2684C12.6953 12.4553 12.6095 12.6294 12.4712 12.7562C12.3329 12.8831 12.152 12.9534 11.9644 12.9534C11.9204 12.9534 11.8765 12.9497 11.8331 12.9422L7.9425 12.255C7.7469 12.22 7.57316 12.1089 7.45943 11.9459C7.34571 11.783 7.30129 11.5816 7.33594 11.3859Z"
                                                fill="currentColor"/>
                                        </svg>
                                        Download Lebenslauf
                                    </a>
                                </div>
                                <div class="flex flex-wrap items-center gap-5 pt-12 md:pt-20 md:gap-12">
                                    <!-- <div class="space-y-3 text-center">
                                        <p class="text-2xl font-semibold" data-vanilla-counter data-start-at="0" data-end-at="180" data-time="1000" data-delay="0" data-format="{}+">
                                            <count-to :startVal='0' :endVal='180' :duration='3000'></count-to>+
                                        </p>                                            <p class="text-gray">Worldwide Clients</p>
                                    </div> -->
                                    <!--                                    <div class="space-y-3 text-center">
                                                                            <p class="text-2xl font-semibold" data-delay="0" data-end-at="590"
                                                                               data-format="{}+" data-start-at="0" data-time="1000" data-vanilla-counter>
                                                                                <count-to :duration='3000' :endVal='590' :startVal='0'></count-to>
                                                                                +
                                                                            </p>
                                                                            <p class="text-gray">Project Done</p>
                                                                        </div>-->
                                    <!--                                    <div class="space-y-3 text-center">
                                                                            <p class="text-2xl font-semibold" data-delay="0" data-end-at="5"
                                                                               data-format="{}+" data-start-at="0" data-time="1000" data-vanilla-counter>
                                                                                <count-to :duration='3000' :endVal='5' :startVal='0'></count-to>
                                                                                +
                                                                            </p>
                                                                            <p class="text-gray">Jahre Erfahrungen</p>
                                                                        </div>-->
                                </div>
                            </div>
                        </div>
                        <div
                            class="bg-gradient-radial from-[#994FF5] to-[#FFC41F] max-w-[800px] md:top-[100px] lg:absolute bottom-0 ltr:right-0 rtl:left-0 lg:w-6/12 w-full">
                            <p class="max-w-2xl mx-auto mt-5 text-5xl font-extrabold text-center text-black uppercase md:text-7xl lg:text-8xl bg-gradient-to-b from-white/70 bg-clip-text dark:text-transparent">
                                Mamadi Diarrisso</p>
                            <div class="">
                                <img alt=""
                                     class="inset-x-0 bottom-0 mx-auto -mt-16 lg:absolute md:mt-0"
                                     src="@/assets/images/masinga3.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- home section -->

        <!-- Start About me -->
        <section id="about" class="py-16 md:py-24 border-t-2 border-gray/[12%] dark:border-white/[12%]">
            <div class="container" data-aos="fade-up">
                <div class="grid grid-cols-1">
                    <div>
                        <div class="inline-block">
                            <p class="bg-purple text-white text-sm font-semibold py-3 px-5 uppercase rounded-full flex items-center gap-2.5">
                                <span>
                                    <svg fill="none" height="16" viewBox="0 0 16 16" width="16"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M4.33454 9.58362C5.35965 9.83993 6.16007 10.6403 6.41638 11.6655L7.37875 15.5149C7.45002 15.8 7.70616 16 8 16C8.29384 16 8.54998 15.8 8.62125 15.5149L9.58362 11.6655C9.83993 10.6403 10.6403 9.83993 11.6655 9.58362L15.5149 8.62125C15.8 8.54998 16 8.29384 16 8C16 7.70616 15.8 7.45002 15.5149 7.37875L11.6655 6.41638C10.6403 6.16007 9.83993 5.35965 9.58362 4.33454L8.62125 0.485071C8.54998 0.199992 8.29384 0 8 0C7.70616 0 7.45002 0.199991 7.37875 0.485071L6.41638 4.33454C6.16007 5.35965 5.35965 6.16007 4.33454 6.41638L0.485071 7.37875C0.199992 7.45002 0 7.70616 0 8C0 8.29384 0.199991 8.54998 0.485071 8.62125L4.33454 9.58362Z"
                                            fill="currentColor"/>
                                    </svg>
                                </span>
                                Über mich
                            </p>
                        </div>
                        <div class="mt-7">
                            <h2 class="font-semibold text-[26px]/normal">Hey! Ich bin Mamadi Diarrisso</h2>
                            <p class="mt-6 text-gray">
                                Ich bin ein leidenschaftlicher Full-Stack-Webentwickler mit Fachkenntnissen in der
                                Erstellung und Pflege von interaktiven Websites und Webanwendungen. Mit viel Erfahrung
                                in der Front-End- und Back-End-Entwicklung habe ich mir ein umfassendes Wissen über
                                moderne Technologien wie HTML, CSS, JavaScript sowie Frameworks wie React, Laravel,
                                Symfony und
                                Vue.js für das Front-End- angeeignet. Für das Backend verwende ich routinemäßig PHP.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="grid grid-cols-1 mt-14">
                    <div class="flex-wrap items-start sm:flex gap-7 space-y-7 sm:space-y-0">
                        <div class="space-y-2.5 font-semibold flex-1">
                            <p class="text-gray whitespace-nowrap">Email-Adresse</p>
                            <p class="whitespace-nowrap">diarrisso49@gmail.com</p>
                        </div>
                        <div class="space-y-2.5 font-semibold flex-1">
                            <p class="text-gray whitespace-nowrap">Telefonnummer</p>
                            <p class="whitespace-nowrap">+49 17675823089</p>
                        </div>
                        <div class="space-y-2.5 font-semibold flex-1">
                            <p class="text-gray whitespace-nowrap">Geburtsdatum</p>
                            <p class="whitespace-nowrap"> 05.November, 1983</p>
                        </div>
                        <div class="space-y-2.5 font-semibold flex-1">
                            <p class="text-gray whitespace-nowrap">Sprachen</p>
                            <p class="whitespace-nowrap">Französich - Deutsch</p>
                        </div>
                        <div class="space-y-2.5 font-semibold flex-1">
                            <p class="text-gray whitespace-nowrap">Hobbies</p>
                            <p class="whitespace-nowrap">Musik, Tennis, F1, Fußball,reisen</p>
                        </div>
                        <div class="space-y-2.5 font-semibold flex-1">
                            <p class="text-gray whitespace-nowrap">Social Media</p>
                            <ul class="flex flex-wrap items-center gap-5">

                                <li class="shrink-0">
                                    <a href="javascript:">
                                        <img alt="" src="@/assets/images/linkedIn.svg">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End About me -->

        <!--            <Service :services="services"/>-->
        <Education :educations="educations" :experiences="experiences"/>
        <Skills :skills="skills"/>
        <Projects :projects="projects"/>

    </Layout>
</template>

star
<script>
import Layout from "@/Layout/Index.vue";
import {CountTo} from "vue3-count-to";
import Service from "@/components/service.vue";
import Education from "@/components/education.vue";
import Skills from "@/components/skill.vue";
import Projects from "@/components/work.vue";
import axios from "axios";

export default {
    name: "INDEX",
    components: {
        Layout, CountTo, Service, Education, Skills, Projects
    },

    data() {
        return {
            pdfLink: "/files/Mamadi.pdf",
            educations: {},
            experiences: {}
        }
    },

    props: {
        services: Object,
        skills: Object,
        projects: Object
    },

    mounted() {
        document.documentElement.setAttribute("dir", "ltr")
        document.documentElement.classList.add("scroll-smooth")
    },

    computed: {
        mergedData() {
            let merged = [];
            // Itérer sur les expériences et les éducations pour fusionner les données
            for (let key in this.experiences) {
                merged.push({type: 'experience', key: key, data: this.experiences[key]});
            }
            for (let key in this.educations) {
                merged.push({type: 'education', key: key, data: this.educations[key]});
            }
            return merged;
        }
    },

    created() {
        this.fetchEducations();
        this.fetchExperience();
    },
    methods: {
        fetchEducations() {
            axios.get('/resources/education')
                .then(response => {
                    this.educations = response.data;
                })
                .catch(error => {
                    console.log(error);
                });
        },

        fetchExperience() {
            axios.get('/resources/experience')
                .then(response => {
                    this.experiences = response.data;
                })
                .catch(error => {
                    console.log(error);
                });
        }
    }
}
</script>
