<template>
  <div>
    <div class="mb-4">
      <Link class="group flex items-center py-3" href="/admin/dashboard/">
        <icon name="dashboard" class="mr-2 w-4 h-4" :class="isUrl('/Admin') ? 'fill-white' : 'fill-indigo-400 group-hover:fill-white'" />
        <div :class="isUrl('') ? 'text-white' : 'text-indigo-300 group-hover:text-white'">Administration</div>
      </Link>
    </div>

    <div class="mb-4">
      <Link class="group flex items-center py-3" href="/admin/users">
          <icon name="users" class="mr-2 w-4 h-4" :class="isUrl('/Admin') ? 'fill-white' : 'fill-indigo-400 group-hover:fill-white'" />
          <div :class="isUrl('') ? 'text-white' : 'text-indigo-300 group-hover:text-white'">Users</div>
      </Link>
    </div>

    <div class="mb-4">
      <Link class="group flex items-center py-3" href="/admin/projects">
        <icon name="office" class="mr-2 w-4 h-4" :class="isUrl('organizations') ? 'fill-white' : 'fill-indigo-400 group-hover:fill-white'" />
        <div :class="isUrl('projects') ? 'text-white' : 'text-indigo-300 group-hover:text-white'">Projects</div>
      </Link>
    </div>
    <div class="mb-4">
      <Link class="group flex items-center py-3" href="/admin/technologies">
        <icon name="technologies" class="mr-2 w-4 h-4" :class="isUrl('contacts') ? 'fill-white' : 'fill-indigo-400 group-hover:fill-white'" />
        <div :class="isUrl('technologies') ? 'text-white' : 'text-indigo-300 group-hover:text-white'">Technologies</div>
      </Link>
    </div>
    <div class="mb-4">
      <Link class="group flex items-center py-3" href="/admin/categories">
        <icon name="categories" class="mr-2 w-4 h-4" :class="isUrl('reports') ? 'fill-white' : 'fill-indigo-400 group-hover:fill-white'" />
        <div :class="isUrl('categories') ? 'text-white' : 'text-indigo-300 group-hover:text-white'">Categories</div>
      </Link>
    </div>
      <div class="mb-4">
          <Link class="group flex items-center py-3" href="/admin/skills">
              <icon name="skills" class="mr-2 w-4 h-4" :class="isUrl('reports') ? 'fill-white' : 'fill-indigo-400 group-hover:fill-white'" />
              <div :class="isUrl('Skills') ? 'text-white' : 'text-indigo-300 group-hover:text-white'">Skills</div>
          </Link>
      </div>
      <div class="mb-4">
          <Link class="group flex items-center py-3" href="/admin/repositories">
              <icon name="gitlab" class="mr-2 w-4 h-4" :class="isUrl('reports') ? 'fill-white' : 'fill-indigo-400 group-hover:fill-white'" />
              <div :class="isUrl('repos') ? 'text-white' : 'text-indigo-300 group-hover:text-white'">Gitlab</div>
          </Link>
      </div>

      <div class="mb-4">
          <Link class="group flex items-center py-3" href="/admin/educations">
              <icon name="gitlab" class="mr-2 w-4 h-4" :class="isUrl('educations') ? 'fill-white' : 'fill-indigo-400 group-hover:fill-white'" />
              <div :class="isUrl('educations') ? 'text-white' : 'text-indigo-300 group-hover:text-white'">Educations</div>
          </Link>
      </div>

      <div class="mb-4">
          <Link class="group flex items-center py-3" href="/admin/experiences">
              <icon name="gitlab" class="mr-2 w-4 h-4" :class="isUrl('experience') ? 'fill-white' : 'fill-indigo-400 group-hover:fill-white'" />
              <div :class="isUrl('experience') ? 'text-white' : 'text-indigo-300 group-hover:text-white'">Expereiences</div>
          </Link>
      </div>

      <div class="mb-4">
          <Link class="group flex items-center py-3" href="/admin/services">
              <icon name="gitlab" class="mr-2 w-4 h-4" :class="isUrl('services') ? 'fill-white' : 'fill-indigo-400 group-hover:fill-white'" />
              <div :class="isUrl('services') ? 'text-white' : 'text-indigo-300 group-hover:text-white'">Services</div>
          </Link>
      </div>
  </div>
</template>

<script>
import { Link } from '@inertiajs/vue3'
import Icon from '@/Shared/Icon.vue'

export default {
  components: {
    Icon,
    Link,
  },
  methods: {
    isUrl(...urls) {
      let currentUrl = this.$page.url.substr(1)
      if (urls[0] === '') {
        return currentUrl === ''
      }
      return urls.filter((url) => currentUrl.startsWith(url)).length
    },
  },
}
</script>
